[2016-12-12 20:56] evykassirer opened #29 "Don't allow dividing by 0"
We don't check for this, which means division by 0 gives weird results.

This functionality would probably go in simplifyBasics, or in a separate DFS before that - since checking for dividing by zero is important before anything else is attempted.

I think (though feel free to approach this a different way) that dividing by zero would look like this:
- the divide by 0 function returns a `NodeStatu

[2016-12-12 22:33] evykassirer opened #30 "Write a git pre-commit hook to run tests and lint"
A pre-commit hook runs the tests and linter before someone commits, which will help prevent buggy/un-linted code from even getting into a commit.

The tests that need to be run: `npm test`
The linter: `npm run lint`

Here are some articles I found that talk a bit about this (I don't know much about it though):
- http://githooks.com/
- http://codeinthehole.com/writing/tips-for-using-a-git-pre-commi

[2016-12-12 22:41] evykassirer opened #31 "Add an optional parameter to isOperator to check the operation type"
there are some places in the codebase where you'll see

`if (NodeType.isOperator(node) && node.op === '+') { `

it would be nice if `isOperator` took an optional argument to check op at the same time, so we could change the above snippet to

`if (NodeType.isOperator(node, '+') {`

and then any `if (NodeType.isOperator(node) && node.op === ... ` can be replaced in the codebase

[2016-12-12 22:59] evykassirer opened #32 "Convert fraction exponents to roots and exponents"
e.g. 125 ^ 4/5 => (nthRoot(125))^4

I have no strong opinions about its priority/grouping amongst the other simplifications. Maybe in its own DFS before function evaluation?

[2016-12-12 23:00] evykassirer commented on #32
interestingly - cymath actually does something different: https://www.cymath.com/answer.php?q=125%20%5E%20(4%2F5)

I think pedagogically, it makes sense to convert to a root?

[2016-12-12 23:20] evykassirer opened #33 "Don't allow 0th root"
I doubt that this will get asked much by students, but for completeness' sake...

`math.nthRoot(8, 3) => 2`

`math.nthRoot(16, 2) => 4`

`math.nthRoot(7, 1) => 7`

`math.nthRoot(7, 0) =>"math.js:44785 Uncaught Error: Root must be non-zero"`

We should handle this in the nthroot code, similarly to #29

[2016-12-13 00:18] evykassirer opened #34 "Make a helper function getRadicandNode"
e.g. cuberoot(5) is represented in mathjs as nthRoot(5, 3) and it has root 3 and radicand 5

there's an existing function `getRootNode` which is a helper function for the getting the root number

but then you see:

[code]

It'd be nice to use a `getRadicandNode(node)`  function which returns `node.args[0];`
(that's it! a great small first change)

[2016-12-13 00:20] evykassirer opened #35 "Support negative roots"
Even roots of negative numbers should isolate the root(-1) and then take the root of the rest of it (which it can already do, since it'll be positive)

The current nthroot code doesn't support negative radicands e.g. `sqrt(-4)`, which could be simplified to `2 * sqrt(-1)` or even eventually `2*i`

Some things I've thought about so far:

- Note that odd roots of negative numbers are actually valid

[2016-12-13 15:50] evykassirer opened #36 "expand "collect and combine like terms" to be more general"
right now adding like terms looks like: `x^2 + x + 3 + x^2 + 2 => ... => 2x^2 + x + 5` and only works with polynomial terms (where a polynomial term is defined as a symbol like x, with maybe an exponent, and maybe a coefficient)

multiplying like terms, similarly with only polynomial terms, looks like:  `x^2 * x * 3 * x^2 * 2 => ... => 6x^5`

it would be great if we had one for non-polynomial term

[2016-12-13 16:26] evykassirer commented on #36
this is also helpful for `(x-3)*5*(x-3) / (x-3)^2`

because it would collect the (x-3)s on top first `-> (x-3)^2*5 / (x-3)^2` and could cancel out, instead of multiplying out the whole top and bottom of the fraction first

[2016-12-13 19:18] evykassirer opened #38 "Negative exponent support"
e.g.
- `(2+x)^-2 => 1 / (2+x)^2`

- `(2+x)^-2 / x => 1 / (2+x)^2*x`

- `(x + 3) / (2+x)^-2 => (x + 3) * 2 (2+x)^2`

- `x / (2+x)^-2 => x * 2 (2+x)^2`

I think this would live in its own DFS, fairly later in the list of simplifications we try (since ideally the base of the exponent would be simplified as much as possible)

[2016-12-13 19:24] evykassirer opened #39 "1 to the power of anything is 1"
Add a new function to simplifyBasics, similar to the others there, to simplify 1^___ => 1

Now, technically 1^infinity is not 1, so we should probably only do this simplification if the exponent has no symbol terms (i.e. it would eventually simplify to a constant, which you can check with `MathResolveChecks.resolvesToConstant`)

[2016-12-13 19:25] evykassirer opened #40 "Distribute the exponent in a fraction"
e.g. `(13 / 64) ^ 2 => 13^2 / 64^2`

[2016-12-13 20:01] evykassirer opened #41 "Simplify fraction should factor to show common factors being divided out"
e.g.  `15/6 -> (5*3)/(2*3) -> 5/2`

right now it just does  `15/6 -> 5/2`

This involves adding substeps to the existing `ConstantFraction.divideByGCD` function, where you show the gcd of the numerator and denominator being factored out (in the example above, 3 was the gcd for 15 and 6)

[2016-12-13 20:15] evykassirer opened #42 "Make a TestUtil to reduce repeated code in tests"
Almost every test has the same structure. To test before -> after:
- parse the 'before' string
- flatten it to the structure we use for mathsteps
- call the function we're testing
- assert that the printed result is the same as the 'after' string

e.g. here are two real test function in the code right now

[code]

We should make a TestUtil to reduce copying this structure around everywhere (i.e. t

[2016-12-13 21:00] evykassirer opened #44 "Improve our linter"
here's a list of things I'd like to add to `.eslintrc.js`

note: feel free to take on this issue an only add some of the rules and not all of them.

(comment below if you have more suggestions!)

- [x] use `const` in every place it can be used
- [x] never use `==`
- [x] 2 spaces for indentation, no tabs
- [x] no trailing spaces at the end of lines
- [x] http://eslint.org/docs/rules/object-shorthan

[2016-12-13 21:07] evykassirer opened #45 "Expand things like (x+y)^2"
This would happen if:
- the exponent is a positive integer
- all cancelling out and most simplifications have already happened
- the base of the exponent (e.g. `x + y` in this example) *can't* be simplified further

note that issue #36 discusses the opposite of this `(x + x) * (x + x) => (x+x)^2` but contrastingly is a simplification we try early on and only happens if the "base" *can* be simplifi

[2016-12-13 21:12] evykassirer opened #46 "Expand "collect and combine like terms" to be more general (addition)"
right now adding like terms looks like: `x^2 + x + 3 + x^2 + 2 => ... => 2x^2 + x + 5` and only works with polynomial terms (where a polynomial term is defined as a symbol like x, with maybe an exponent, and maybe a coefficient)

it would be great if we had one for non-polynomial terms too

e.g. `(x + 3)(x+3) + (x+3)(x+3) => 2*(x+3)(x+3) => ...` will have one case of distribution instead of doing

[2016-12-14 00:01] evykassirer opened #48 "systems of equations"
It'd be great to have another module, like `simplifyExpression` and `solveEquation` that solved a system of equations

e.g. y = 2x + 2, x + y = 5, solve for x

[2016-12-14 00:04] evykassirer opened #49 "Absolute value of unknowns (in equations)"
e.g. |x| + 3 = 4 can solve for x by separating it into `x + 3 = 4` and `-x + 3 = 4`

to support these, we'd also have to support multiple equations (related issue: #48)

[2016-12-14 00:11] evykassirer opened #50 "Factoring support for quadratics"
We don't have any factoring polynomial support yet, but that's our next big goal!

We want to make another top level module like `simplifyExpression` and `solveEquation` that factors an expression (note that factoring is sort of the opposite of simplifying, because simplifying distributes and we would want to "un-distribute")

#### We should be able to factor quadratics in the following ways:

- n

[2016-12-14 18:50] evykassirer opened #51 "Equations: multiply by x on both sides"
Blocked on #137 and #139 because without cancelling working, we can't multiply both sides by the denominator and then cancel

---

e.g. `2/x = 1 --> 2/x * x =  1 * x`

Currently there's a function for this in `EquationOperations` called `removeSymbolFromDenominator` but it's not implemented yet.

It should work like this:
- **if** the left node of an equation is a fraction
- **and** the denominato

[2016-12-14 19:15] evykassirer opened #52 "BEFORE LAUNCH CHECKLIST"
This is to keep track of mathsteps related tasks before the launch mid-Jan:

- [x] make a ROADMAP.md based on Socratic coverage goals [see it here](https://github.com/socraticorg/mathsteps/blob/master/ROADMAP.md)
- [x] go through TODOs in code and move to github issues @evykassirer

code reorg:
- [x] #57 @evykassirer
- [x] do a lookover for structure consistency? (@aelnaiem)

after we finalize ind

[2016-12-24 21:49] evykassirer opened #58 "Missing test coverage"
A great first PR is to pick something on this list and write tests for it!

- [ ] `Symbols.js`
- [ ] `solveEquation/EquationOperations.js`
- [ ] in `CombineChecks.test.js` separately test the functions `CombineChecks.canMultiplyLikeTermPolynomialNodes`, `CombineChecks.canAddLikeTermPolynomialNodes`, and `CombineChecks.canRearrangeCoefficient`

feel free to point out more missing tests below!

[2016-12-30 04:17] evykassirer opened #61 "publish npm module"
@aelnaiem can I do this now that the file reorg is pretty much done?

- [x] make an npm account for Socratic
 - username: `@socratic`
 - email: `mathsteps@socratic.org`
- [x] `npm publish`
- [x] update README with installation instructions

If you'd rather do it, that's fine! We can discuss on this github issue

[2016-12-30 04:39] evykassirer opened #62 "separate basicsSearch simplifications into their own files"
there's a bunch of little simplifications in `basicsSearch`:

(at the time of writing this issue:)
[code]

`reduceMultiplicationByZero`,  `reduceZeroDividedByAnything`, and `rearrangeCoefficient` are defined and tested their own files, and ideally all of the functions would each be in their own file with their own small set of unit tests. This change is just moving the code around - a great first

[2016-12-30 04:47] evykassirer opened #63 "inverting exponents/roots in solving equations"
right now if you get to `x^2 = 4`, it won't know to square root both sides.

operations that would be nice to invert on both sides:
- [ ] exponents to roots
- [ ] roots to exponents

these can be added to `EquationOperations.isolateSymbolOnLeftSide` (there's a TODO marking the place!)

in the future it'd also be great to do logs <=> powers -- though we don't support log functions currently (the on

[2016-12-30 04:55] evykassirer opened #64 "figure out what to do about errors from rounding midway through"
so it's good pedagogically to round partway through, but then we can get the wrong answer in the end!

e.g. this gives us 6.399 when it should actually be 6.4 :(

`x - 3.4 = ( x - 2.5)/( 1.3)`

steps (approximately, to give an idea of why this happens):
- `x - 3.4 = x/1.3 - 2.5/1.3`
- `x - 3.4 = x/1.3 - 1.9231` (maybe we wouldn't divide here, but how would we make that call easily?)
- ...
- `(1 -

[2017-01-04 18:20] aelnaiem commented on #61
@evykassirer Yes you can do this!

[2017-01-04 20:15] #61 closed

[2017-01-15 21:15] evykassirer opened #66 "wiki"
- [x] API usage explanations
- [ ] main points from blog post
- [x] explain overall code structure
- [x] explain what each folder does and how they interact
- [x] add a timeline and priorities

[2017-01-15 21:16] evykassirer opened #67 "Add remove unnecessary parens in NodeStatus creation"
...instead of in `simplifyExpression/index.js`

I think we didn't do this at first because cyclic dependencies, but it would be much better if it lived there I think? Up for discussion

[2017-01-15 21:17] evykassirer commented on #52
moved the rest to their own issues #66 #67

[2017-01-15 21:17] #52 closed

[2017-01-19 15:37] kevinbarabash commented on #64
@evykassirer great project!

In this case you could multiply both sides by 1.3, but that's not a very general solution.  You probably want to use a bignum library, there are a couple written in JS.  I forgot which one I used, but it stored decimals as fractions which should get around this problem.  There's still the question of what to display to students.  Maybe you could use ellipsis when prese

[2017-01-19 15:54] Raibaz commented on #62
Hi, i started working on this but i can't seem to be able to assign it to myself...what should i do?

[2017-01-19 15:55] evykassirer commented on #62
Just commenting here works - I'll look into it in the meantime. Thanks for taking this on!!

[2017-01-19 22:08] mcarthurgill commented on #31
I've made these changes, but I believe I need you to assign this issue to me. Thanks!

[2017-01-19 22:44] hmaurer opened #70 "[Question] What is a changeGroup?"
Everything is in the title! I was reading through parts of the code and wondered what a changeGroup is. I have a vague idea from where it is used but I am not quite sure; a one-sentence explanation would be amazing :-)

[2017-01-19 23:13] evykassirer commented on #31
Thanks! :tada:

Hmmm either I need to be given higher permissions for this repo (I didn't create it) or I might not be able to assign you at all... looking into it :)

In the mean time consider this conversation to show that you've 'claimed' this issue, feel free to open a PR with your change and I'll take a look

[2017-01-19 23:23] evykassirer commented on #62
Hm, okay turns out I can't actually assign just anyone to issues (only people who have been added on GitHub as contributors) I'll change the contributing.md and also take a look at your PR now :)

[2017-01-19 23:33] evykassirer commented on #64
thanks Kevin! :)

oo the bar or ellipses sounds like a nice solution.

Although I think the reason we started rounding in the first place was floating point errors - that's what the bignum library is for right?

Storing decimals as fractions miiiight not work for all cases - e.g. square roots giving irrational numbers (but I think right now it keeps it as a square root and doesn't calculate it)

[2017-01-19 23:56] evykassirer commented on #62
Ooo -- unfortunately, this change conflicts a bit with #69 cause they're both in `simplifyBasics`, so one of you will have to merge in the other's change eventually :imp:

[2017-01-20 00:06] kevinbarabash commented on #64
Right.

Excellent!

[2017-01-20 04:44] emilingerslev opened #71 "Example video is restricted"
The example video seems to be restricted to a set of countries. At least it is not allowed to be shown in Denmark.
That, I guess, is a mistake?

[2017-01-20 09:05] nkprince007 commented on #58
Can I be assigned this?

[2017-01-20 09:36] pubkey commented on #71
Same in Germany :-1:

[2017-01-20 10:23] bali182 commented on #71
Same in Ireland

[2017-01-20 10:35] pubkey commented on #71
Ok I found out that the linked youtube-video shows the song "Step By Step" from "New Kids On The Block".

![screenshot from 2017-01-20 11-33-23](https://cloud.githubusercontent.com/assets/8926560/22146299/773d5eee-df04-11e6-855d-5784e906cfac.png)

[2017-01-20 10:36] bali182 commented on #71
Awesome... :man_dancing:

[2017-01-20 11:28] hmaurer opened #72 "Rounding issue for negative numbers"
The "simplify arithmetic" strategy rounds to precision 4 automatically. This makes sense for decimal numbers (c.f. https://github.com/socraticorg/mathsteps/issues/64) but leads to confusing behaviour with large numbers. For example, the expression `16 + -1953125` simplifies in a single step to `-1953000`.

Granted, students learning arithmetic usually do not work with large numbers, but they can e

[2017-01-20 11:41] hmaurer commented on #64
Hello! Throwing some thoughts in: ellipsis are an elegant solution if the goal is to obtain an exact result, but sometimes when doing simple arithmetic we only care about an approximate result. As @evykassirer  mentioned in those cases it makes sense to round midway.

Maybe at that point the system could mark all subsequent nodes as "approximate", so that instead of displaying equality signs to th

[2017-01-20 13:47] 3cL1p5e7 opened #73 "Youtube's video unavailable in Russia. Math for everyone..."

[2017-01-20 14:20] hmaurer commented on #73
c.f. https://github.com/socraticorg/mathsteps/issues/71

[2017-01-20 14:45] evykassirer commented on #71
Oh no! It was just a silly joke video (Step by Step, by the New Kids on the Block) - didn't realize it was restricted in so many places.

I'm replacing with https://www.youtube.com/watch?v=iCrargw1rrM which seems to be available everywhere. Closing this issue, but if you still have trouble with the new link please reopen.

[2017-01-20 14:45] #71 closed

[2017-01-20 14:50] evykassirer commented on #73
Sorry! I'm replacing with https://www.youtube.com/watch?v=iCrargw1rrM which seems to be available everywhere.

Check out #71 for more details (thanks @hmaurer)

[2017-01-20 14:50] #73 closed

[2017-01-20 14:51] evykassirer commented on #39
added in #69

[2017-01-20 14:51] #39 closed

[2017-01-20 15:05] kevinbarabash commented on #64
@hmaurer I agree that sometimes it makes more sense to round and use "≈".  It would be nice both approaches were available and configurable.

[2017-01-20 15:28] hmaurer commented on #29
I am on this; will PR soon. How should we handle the `0/0` case? Return `DIVIDE_BY_ZERO` too?

[2017-01-20 15:33] hmaurer commented on #32
I am not sure. Personally I always convert roots to fractional exponents where I can; I find them easier to reason about (you can use the standard exponent rules) and easier to draw. In this specific example I think cymath's approach is clearer.

[2017-01-20 15:42] murkle opened #75 "1/x = x/1 doesn't work"
It says correct answer is x=1/x (tick)

[2017-01-20 15:44] hmaurer commented on #75
Related to https://github.com/socraticorg/mathsteps/issues/51

[2017-01-20 16:13] nkprince007 commented on #58
Ok.

[2017-01-20 16:39] evykassirer commented on #72
Hm, wait really?

I think `toFixed` only rounds after the decimal point.

<img width="317" alt="screen shot 2017-01-20 at 11 38 24 am" src="https://cloud.githubusercontent.com/assets/5634097/22157261/00a49904-df05-11e6-93b9-76d17ad9885c.png">

I'm confused where you'd get the rounding to `-1953000` (but eager to find out!)

[2017-01-20 17:15] hmaurer commented on #72
@evykassirer I haven't inserted a `console.log` to check, but I think since `-1953125 < 1` it executes line 54 (https://github.com/socraticorg/mathsteps/blob/master/lib/simplifyExpression/arithmeticSearch/index.js#L54) and

[code]

[2017-01-20 17:17] evykassirer commented on #72
OMG amazing. Thanks for finding that. So it just needs to be changed to `if (-1 < result < 1) {` then, yeah?

[2017-01-20 17:22] hmaurer commented on #72
I think so; I am not quite sure that the goal of that line was (use toPrecision instead of toFixed when < 1) but if you say so!

By the way, I found this error by writing a generative test (like Haskell's Quickcheck) for `simplifyExpression`. It ended up being quite useless; the project seems very well tested and my code found errors which were just missing implementations, but yeah...

[2017-01-20 17:28] evykassirer commented on #70
An excellent question!

Wanting a good answer to this question is one of the big reasons I want a wiki ( #66 ) but here's a casual short-ish explanation in the meantime...

When we were building this, we wanted to have really good descriptions of the steps. In the blog post I have a short passage that says:

If you ran mathsteps on `x + 2 + 3` you'd get a single step with `step.oldNode` being the

[2017-01-20 17:32] evykassirer commented on #72
oh, we should add a comment there then! (you can add it if you decide to take on this PR)

`toFixed` makes sense in most cases, and rounds to 4 digits after the decimal.

However, for something like 0.0000834567, it'd be nice to keep 4 digits of accuracy, not including the leading 0s (ie round to 0.00008346). So `toPrecision` is used to keep precision for small numbers (ones that don't have any di

[2017-01-20 17:33] evykassirer commented on #72
Also neat that you tried that - I'm super glad our tests are solid!! Great to hear.

If anything wasn't implemented but didn't have an issue for implementing it in the future (and you think it would be nice to cover) feel free to make an issue for it!

[2017-01-20 17:52] hmaurer commented on #70
I see; that's what I thought (I was looking for the part of the code keeping track of which nodes changed) but wasn't quite sure why it was indexed; thanks!

[2017-01-20 17:52] evykassirer commented on #29
yeah, I think I'm comfy having them give the same error. Sound ok to you?

[2017-01-20 18:35] hmaurer commented on #29
Yes I think that makes sense! I'll PR later tonight.

[2017-01-20 18:39] hmaurer commented on #33
I am on this.

[2017-01-20 18:48] evykassirer commented on #33
Actually I'd appreciate if you could work on a maximum of 1 small PR for now, since I want to make it easy for people to start on this project and it'll take a bit of time to find more small tasks for folks.

Would it be alright to leave this for another eager newcomer? I'm happy to discuss some other slightly bigger PRs with you if you want to find something else to work on :)

[2017-01-20 18:52] hmaurer commented on #33
Oh yes of course; I'll check out some of the other issues.

[2017-01-20 18:53] #75 closed

[2017-01-20 19:13] hmaurer commented on #49
Mmh that's quite interesting in terms of pedagogy. I haven't really thought about it but at first it seems we could have a sort-of tree structure for equations with "AND" and "OR" nodes, and operate on that tree in steps in the same way you currently operate on expression trees.

For example, starting from a single root node `|x| + 3 = 4`, we would transform it to an "OR" node with left branch `x

[2017-01-20 19:22] hmaurer commented on #45
I think there should be an extra condition that the expansion leads to a "simpler version". It seems this would be quite hard to model because the simplification might happen "10 steps ahead". For example, you might have some expression with a term like `(x+y)^5`. Expanding it might lead to a bunch of terms cancelling out and be left with something like such as `0`. However, it might also lead to

[2017-01-20 19:35] hmaurer opened #76 "Better break-up fraction"
I have no idea how to go about this in a general way, but currently break-up fraction isn't very smart.

For example, `(2x+3)/(2x+2)` simplifies to `2 x / (2 x + 2) + 3 / (2 x + 2)`. Instead, it might be better if it did: `(2x+3)/(2x+2)` -> `(2x+2 + 1)/(2x+2)` -> `(2x+2)/(2x+2) + 1/(2x+2)` -> `1 + 1/(2x+2)`.

Thoughts?

[2017-01-20 19:54] adamisntdead commented on #33
I am happy to pick this one up, if thats okay?

[2017-01-20 20:16] adamisntdead commented on #33
Just looking now, the nthRoot Code seems to be on the math.js side, so changing it would be changing the actual mathjs code. Is that correct, or am I missing something?

[2017-01-20 20:25] hmaurer commented on #33
@adamisntdead Check out https://github.com/socraticorg/mathsteps/issues/29. T

he operation `nthRoot` with base `0` would lead to an exception when trying to evaluate it with `mathjs`. For example, try this (at the root of the project after cloning the repository):

[code]

In attempting to simplify `nthRoot(5, 0)` the program is going to evaluate it, and it will throw an error in our face: `Error

[2017-01-20 20:39] kovzol opened #77 "Installing mathsteps is not straightforward"
I tried several ways to install mathsteps on Ubuntu Linux 16.04.1 LTS with just partial success.

First method: "sudo apt install nodejs". It installs node 4.2.6 (which is quite old). Then by running "npm install mathsteps" a folder node_modules is created, it also includes the mathsteps/ folder. Now I tried to create a file with the example .js code with name test.js, but I get the following erro

[2017-01-20 20:46] hmaurer commented on #77
For the former, it is because "default parameters" in Javascript (an ES6 feature) were not enabled by default before node 6.0.0 (I think). So you need to be running at least node 6.

For the latter, what is the content of `test.js`? It does not seem to be a file at the root of the repository; did you create it?

[2017-01-20 20:50] hmaurer commented on #77
Ah nevermind, I guess you copied the example script from the README into a `test.js` file. As far as I can tell there is either a mistake in the example or in the codebase. The property `oldNode` is null in the first step, however it is present in all the substeps. @evykassirer

[2017-01-20 21:11] hmaurer commented on #77
After taking a look it seems it's due to some weirdness with [Status.reset](https://github.com/socraticorg/mathsteps/blob/master/lib/node/Status.js#L31). When calling `nodeStatus.reset()` [here](https://github.com/socraticorg/mathsteps/blob/master/lib/simplifyExpression/stepThrough.js#L46) it sets the `oldNode` property of the object that has just been pushed to `steps` to `null`.

I suspect this

[2017-01-21 00:15] evykassirer commented on #77
1. Yeah, you nee at least node 6 for default parameters. I'll open an issue to add that to the documentation.

2. Okay yeah that's our fault. You have it installed correctly. We'll fix that bug and release a new version on npm :)

Thanks so much @kovzol for bringing both these issues up and @hmaurer for investigating :)

[2017-01-21 00:22] evykassirer commented on #32
hmm interesting

I'll ask Socratic's content people about it next week and get their opinion on this :) (they've both done a lot of teaching)

[2017-01-21 00:26] hmaurer commented on #32
If you are just learning arithmetic I guess nth-root might be less scary, though. Fractional exponents are a bit abstract, and mentally you usually think "ok x^3/4 is x^3 then take the 4th root". This might be one of those cases where it really depends on the context / student's preference, but I can see stronger arguments in favour of nth-roots for young students. Looking forward to hearing their

[2017-01-21 00:27] evykassirer commented on #76
agreed! that'd be sweet.

we could start with a rule that handles only this case, where the denominator can be found in the numerator

so here you'd check if an x term is in the numerator and if a constant term is in the numerator, and then split it up into 2x + 2 and the rest of the numerator.

I think we should keep the current break-up fraction functionality, but add this as a more specific che

[2017-01-21 00:36] evykassirer commented on #33
yay @adamisntdead thanks for taking this on!

What @hmaurer said sounds right. Ideally a student could enter anything and give something back. If we throw an error, the tech that's using `mathsteps` might not know what to do.

So if someone asked `2 + 4 + nthroot(4, 0)`, we should give the step:

Checking for 0th root should look through the whole tree before we start, because there's no point in

[2017-01-21 00:53] cspanda opened #80 "Use object literal property value shorthand in es6"
Instead of doing something like this inside /index.js:

[code]
follow airbnb's [style guide](https://github.com/airbnb/javascript/blob/master/README.md#es6-object-concise) and use object literal property value shorthand in es6 so it becomes shorter and more readable.

[code]

[2017-01-21 00:56] evykassirer commented on #80
Woo thanks for making an issue for this ^_^

A great addition to the 'small' label (which is good, cause we're running low on them)

[2017-01-21 01:17] evykassirer commented on #80
cool, this shorthand is also supported by eslint (which we use): http://eslint.org/docs/rules/object-shorthand

I'll add it to the linter error issue too ( #44 )

[2017-01-21 01:23] evykassirer commented on #80
done! thanks @cspanda -- so speeedy 🐰🐇

[2017-01-21 01:23] #80 closed

[2017-01-21 01:25] evykassirer commented on #72
added the small tag, cause it's a one line fix.

[2017-01-21 01:38] evykassirer opened #82 "make it clear that mathsteps requires node 6.0.0"
`mathsteps` won't work with lower versions of node (e.g. #77), so we should add this requirement to the README

ideally this bullet point would link to a good resource for installing/updating node

[2017-01-21 07:25] biyasbasak commented on #44
I am working on this

[2017-01-21 07:42] kovzol commented on #77
Thank you for the prompt reply!

[2017-01-21 13:22] emars commented on #72
I looked at this for ~15 minutes, adding that case causes a regression in test:
`test/solveEquation/solveEquation.test.js` for case:

`solveEquation for = ( u )/( 0.3) = 4u + 6.28 -> u = -9.42:`

expected: `-9.4195`
actual: `-9.42`

Am I good to change the expectation to `-9.42` now that the precision is changed?

[2017-01-21 13:27] emars commented on #82
If this is a recurring issue, something like:

http://stackoverflow.com/a/41620850/2816843

could be implemented.

Having a `preinstall` check that verifies that the user is on the proper version of node.

[2017-01-21 16:34] evykassirer commented on #44
woo! thanks @biyasbasak

[2017-01-21 17:20] kevinbarabash commented on #64
@evykassirer would you be interested in a PR for integrating a bignum library?  I can make it optional.  What would be a good way to specify options?

[2017-01-21 17:34] kevinbarabash commented on #32
In the case of simplifying something like `(nthroot(x, 5))^3 * (nthroot(x, 5))^4`, it might be preferable to convert the roots to fractional exponents before simplifying, e.g.
[code]

Another aspect of this is when render fractional exponents as roots, the exponent can be either on the inside our the outside:
[code]

[2017-01-21 19:13] evykassirer commented on #62
done! thanks @Raibaz 🎉

[2017-01-21 19:13] #62 closed

[2017-01-21 19:27] evykassirer commented on #72
thanks for taking this on!

It's actually expecting  `-9.42` (which is the **right answer**) and getting  `-9.4195` ... so that's too bad :(

But the only reason it was getting the answer right before was because it was rounding to `-9.420`, so it was just rounding luckily. This is an issue that was already happening, so your change didn't create the problem, it just revealed it for this case.

I

[2017-01-21 19:32] evykassirer commented on #82
oh, sweet!

that looks very helpful and I totally think we should add it, thanks :)

[2017-01-21 19:53] evykassirer commented on #64
Hello! Great discussion 🔢 I like these ideas

---

re "≈":

Since there's no "=" between steps (for expressions), just a list of steps, I think the way it would work is that we'd label the nodes (like @hmaurer said) as approximate, and the user of `mathsteps` could then choose to use "≈" in showing the steps to the user. Still not sure what the best way to design that "label" is, so that it's easy

[2017-01-21 19:53] Larpon opened #84 "Readme youtube link"
Don't know if it's really an issue but I felt  kind of Rick-rolled. Well played!

[2017-01-21 19:59] evykassirer commented on #84
Haha thanks 😈 creds to @aelnaiem for telling me about the song when we started working on this 🎶

[2017-01-21 22:41] faheel opened #86 "Issues with CONTRIBUTING.md"
The [CONTRIBUTING.md](https://github.com/socraticorg/mathsteps/blob/master/CONTRIBUTING.md) file has a few issues:
 - bad formatting at some places,
 - no links in contents to each heading,
 - links which do not point to the exact info,
 - some minor grammatical and syntax errors.

I have created a pull request (#85) that fix these issues.

[2017-01-21 23:07] arbylee commented on #51
Hi there, I'm interested in taking a crack at this if it's not assigned

[2017-01-21 23:08] evykassirer commented on #51
That would be fantastic, thank you! This will help us solve a lot more equations than we were able to before.

Let me know if you have any questions or encounter anything tricky

[2017-01-22 00:57] kevinbarabash commented on #64
@evykassirer math.js has bignum functions built into.  I'm going to use those so that we don't introduce another dependency.  As for options, I think it's probably useful to have both `mathsteps.setOptions` and the ability to pass options directly to `simplifyExpression` and `solveEquation`.

[2017-01-22 01:12] arbylee commented on #51
I got a basic case working, but am questioning my approach as I try to get the more complex case working. I'd like to hear your thoughts

Symbols.getLastSymbolTerm currently relies on Node.PolynomialTerm.isPolynomialTerm to find the last symbol term.  It doesn't recognize terms such as `1/(2+x)` because it's not definitionally a polynomial term. I'm not planning on changing isPolynomialTerm, but I

[2017-01-22 02:02] evykassirer commented on #30
thans @hmaurer !!

[2017-01-22 02:02] #30 closed

[2017-01-22 02:44] evykassirer opened #87 "consider using flow"
https://flowtype.org/

thanks to @kevinbarabash for suggesting.

curious what you think @aelnaiem

[2017-01-22 03:03] evykassirer commented on #64
Oh perfect, thanks math.js!

Sounds good to me. Ahmed ( my mentor from last term @aelnaiem, who was overseeing general math stuff at Socratic ) was on vacation last week, so we haven't figured out how much say he'll have in decisions around stuff like this - so I'd like to check in with him before we merge, but I'm pretty sure it'll be fine so feel free to start working on it if you like :)

thank

[2017-01-22 03:07] evykassirer commented on #51
Yeah I had a feeling this had some trickiness to it haha.

Good idea - I think that makes sense (and if it doesn't, we can move that functionality to a different place so feel free to write it out now). Perhaps this function shouldn't live in Symbols and should be in a more equation specific file. What do you think?

I'd also like to bring @aelnaiem into the conversation too if he's free/intereste

[2017-01-22 16:32] #84 closed

[2017-01-22 18:18] kevinbarabash commented on #64
After doing some digging it turns out math.js' bignum is arbitrary precision math and doesn't use fractions.  Thankfully, math.js also as a fraction library.  I'm going to give that a try instead.

[2017-01-22 19:27] kevinbarabash commented on #64
Something else to consider, with this particular equation `x - 3.4 = ( x - 2.5)/( 1.3)`, the rounding issue could be avoided by multiplying both sides by `1.3`.  This is the approach I'd take if I was solving this by hand.  @evykassirer was this a pedagogical choice or a limitation of the current algorithm?

[2017-01-22 21:35] evykassirer commented on #64
Yes, good point. I'd do the same as you. Definitely a limitation of algorithm.

Pretty much, we implemented equation support pretty naively and simplify both sides completely (the same way we simplify expressions) and then move things around one step at a time. I think the pedagogy for equations has a lot that can be worked on, and will probably complicate the codebase a bit. Will be fun to think

[2017-01-22 21:54] hmaurer commented on #64
@evykassirer somewhat related to https://github.com/socraticorg/mathsteps/issues/49

[2017-01-22 22:00] evykassirer commented on #64
#49 is related, but I see it more as a special case of equation support

I'd still like to have some general discussion where we can think about equation pedagogy and figure out what changes should be made to existing supported equations (like what Kevin was talking about) and new ones we don't support yet (e.g. #49 and #48 )

[2017-01-22 22:21] evykassirer commented on #29
Hey @hmaurer, I see you have a branch open for this and a commit - did you forget to put up a PR or did you want to work on it a bit more first?

[2017-01-22 22:30] evykassirer commented on #77
(fix made, reopening until I publish a new version of npm)

[2017-01-22 22:33] evykassirer commented on #31
@mcarthurgill you said you've made the changes - can you open a pull request so they can be merged?

[2017-01-22 22:35] hmaurer commented on #64
@evykassirer ah, yes. A discussion on the pedagogy of solving equations / simplifying will also touch to https://github.com/socraticorg/mathsteps/issues/45. I'll wait until an issue is created to talk about it, but as a quick question: should we be concerned about handling non-linear (e.g. quadratic) equations?

[2017-01-22 22:42] evykassirer opened #90 "discussion on equation pedagogy"
An issue to discuss improvements to equations! If you're wondering about something expression specific, open another issue for it - this will be focused around tweaks to make equations better

### Summary:

changes to existing steps:

- "with this particular equation `x - 3.4 = ( x - 2.5)/( 1.3)`, the rounding issue could be avoided by multiplying both sides by `1.3`" (more discussion in #64 )

lo

[2017-01-22 22:42] evykassirer commented on #90
(and to reply to your comments on #64, @hmaurer , I think that #45 is an isolated issue not too related to equations, and quadratics are being worked on right now, see #50)

[2017-01-23 00:31] mcarthurgill commented on #31
Done! Let me know if you have questions.

[2017-01-23 09:48] sangwinc commented on #50
Perhaps you might like to also consider "completing the square" as a method for solving quadratics?

x^2+2*a*x +c = 0,
x*(x+2*a) +c=0,
(x+a-a)*(x+a+a)+c=0,
(x+a)^2-a^2+c=0
(x+a)^2=a^2-c
... etc.

I've only just come across your system (and I'm impressed: email to follow).

Does your system provide more than one solution, or does it always just give "the way" to solve an equation?

[2017-01-23 11:33] sangwinc commented on #51
There are some interesting design decisions to be made here.  E.g. how will your system avoid the following (well-known) nonsense?

a  = b
a^2 = ab
a^2 -b^2 = ab -b^2
(a-b)(a+b) = b(a-b)
a+b = b
2b = b
2 = 1

(If you are interested in this kind of thing, you might like the attached paper)

@ARTICLE{2015Audited,
  author =       {Sangwin, C.~J.},
  title =        {An Audited Elementary Algebra},

[2017-01-23 11:45] sangwinc commented on #48
Do you have a comprehensive list of "goal test cases" anywhere in your code, or are they just issues?

This document is based on years of experience from the CAS community:
 http://www.math.unm.edu/~wester/cas/book/Wester.pdf

Many of these issues only relate to more advanced maths, so aren't (yet) important to you.  But, it does contain a lot of careful though about negative powers, roots, zero p

[2017-01-23 12:23] hmaurer commented on #51
@sangwinc Interesting; I guess you would need some form of "pre-condition" handling, and branching as in https://github.com/socraticorg/mathsteps/issues/49#issuecomment-274154703. This could easily get more complex though.

I believe right now the system is purely based on trying out strategies by order of "priority" and applying the one it can, @evykassirer ? When doing elementary algebra this se

[2017-01-23 12:42] hmaurer commented on #90
@evykassirer mmh, I meant related in the sense that solving equations might also require some form of "lookahead" mechanism. It's possible that the best path to solve an equation might not be choosable without knowing what would happen down the road.

[2017-01-23 15:29] #31 closed

[2017-01-23 15:29] evykassirer commented on #31
Thanks @mcarthurgill !

Feel free to take a look at other open issues, and lemme know if I can help with anything.

[2017-01-23 15:36] evykassirer commented on #50
as far as I remember, completing the square tends to be used for graphing, and isn't as useful for factoring (which is what this particular issue is working on, and would be used for `simplifyExpression` and `solveEquation`)

I could totally see another function alongside `solveEquation` that completes the square for quadratics and/or gives steps for graphing a function. Feel free to open an issue

[2017-01-23 15:43] evykassirer commented on #90
ah yeah, I see what you mean

the organizer in me is getting annoyed that these issues are are so related and hard to organize into issues ;D but also it's neat how intertwined these problems are!

[2017-01-24 05:49] lexiross commented on #34
I can do this one!

[2017-01-24 11:37] faheel commented on #86
This has been fixed in #85.

[2017-01-24 11:37] #86 closed

[2017-01-24 14:29] #34 closed

[2017-01-24 14:29] evykassirer commented on #34
done! Thanks @lexiross 🎉

[2017-01-24 19:34] evykassirer commented on #42
Marking this as small because I don't think you have to know much about the code to do this, but it does touch a lot of code so in that sense it's not that small.

[2017-01-24 21:47] Raibaz commented on #82
Nice one @emars :)

[2017-01-25 01:21] evykassirer commented on #49
I hadn't thought about it much yet, but that sounds quite reasonable! Since this will be a pretty big decision, I think it's worth doing  research into what other CAS do as well.

[2017-01-25 09:26] nitin42 commented on #42
Can I be assigned for this?

[2017-01-25 13:56] evykassirer commented on #42
Yes! Thanks :)

[2017-01-25 16:02] evykassirer commented on #51
Right now we deal with this by getting to some "standard form" (using strategies by priority like @hmaurer says) and then deciding if it makes sense or not when we get there. It's easy for now because we only allow max one variable (either both sides are constants and not equivalent, in which case we return that the equation cannot hold true, or the sides are equivalent and the equation holds true

[2017-01-25 16:03] evykassirer opened #95 "Idea: create a RESOURCES.md"
This would have a list of similar apps/projects (to use for examples) and also point out relevant research papers for anyone interested in learning more about this stuff.

Would this be helpful to people?

[2017-01-25 16:59] evykassirer commented on #58
FYI @nkprince007, @arbylee wrote tests for `Symbols.js` in #88 :)

[2017-01-25 17:34] nkprince007 commented on #58
Thanks a lot, guys, but I'm a little caught up ATM, definitely like to contribute, soon as I find time.

[2017-01-25 18:20] aelnaiem commented on #87
I love types and flow is a great tool, so I think it's a good idea. Longer-term goal makes sense.

[2017-01-25 18:24] tkosan commented on #95
I think having a resource document like this would be very helpful. One open source application that I think would qualify for the list is a step-by-step equation solver that I have been working on for the past few years. Here is a video demonstration of it:

[Solver with tree interface](https://www.youtube.com/watch?v=cy6bwNBkAK0)

I am hoping to implement some of the capabilities of this equatio

[2017-01-25 19:58] evykassirer commented on #95
Awesome @tkosan ! I'll start off the resources file and you can make a pull request to add to it :)

Where is your open source code available to look at? I'd love to see what you've been doing.

I would be very grateful if you could bring what you've learned form mathpiper to mathsteps 😃  looking forward to your contributions!

[2017-01-25 19:59] evykassirer commented on #95
I think @sangwinc would have some great stuff for this file too

[2017-01-25 21:20] tkosan commented on #95
Chris Sangwin was the person who inspired me to create the MathPiper step-by-step equation solver.

Here is a link to the main files that contain the solver (SolveSteps.mpws) and the rules that the solver and the manual manipulator use (rulebase_elementary_algebra.mpws):

[Solver and rules](https://bitbucket.org/tkosan/mathpiperide/src/67c8b031230bc3fcd9776700487b570ebe62717b/src/library_apps/math

[2017-01-25 21:50] evykassirer opened #96 "Create a list of goal test cases"
@sangwinc said:

http://www.math.unm.edu/~wester/cas/book/Wester.pdf

The answer to this is that it's almost entirely just issues (with the exception of a few tests in the code)

I agree that it'd be great to make a list of goal test cases to guide or development, so here's an issue to coordinate that :) Any ideas for where we'd put it / how it'd be formatted?

[2017-01-25 21:56] evykassirer commented on #29
@hmaurer ?

[2017-01-25 22:02] hmaurer commented on #29
@evykassirer Sorry for the delay; I have opened a PR

[2017-01-25 22:03] evykassirer commented on #29
no problem at all, just wanted to make sure it wasn't forgotten about ^_^

[2017-01-26 04:32] evykassirer commented on #58
Sounds good @nkprince007! If you don't think you can get to this issue for a few weeks and don't have strong feeling towards it, we can un-assign you and when you have more time you take on whatever's free.  If you're exciting about this issue though, we can keep it until you have the time :) let me know!

[2017-01-26 08:00] sangwinc commented on #51
Yes, I am generalising the conversation and suggest you at least have one eye on what is (soon) coming round the corner.

If you have polynomial equations in one variable then things are relatively simple, but you still have to worry about "loosing" a root.  E.g.   x(x-2)=0  -> x=2  and you've missed off the root x=0.  This is so obvious here that you hope student's won't do this, but what about t

[2017-01-26 10:22] nitin42 commented on #42
Work in progress just wanted to confirm that this is how the blueprint would look like for the util functions after reducing the code in tests :

[code]
This also eliminates the additional imports in all the test files. Placing all of them in a single util file For eg -
[code]

This would help me in writing the better and neat test. I am also using destructuring assignments wherever necessary.

[2017-01-26 11:43] karuppiah7890 opened #98 "Create a section in README for API docs or put em in Wiki section"
I didn't know how to use the `mathsteps.solveEquation()` function. And the README is misleading, as if we just have to change `mathsteps.simplifyExpression()` to `mathsteps.solveEquation()` to solve an equation. Finally I had to see some tests and understand how to use the API and ended up coding this small piece of code to see how the lib works

[code]

I personally feel there should be documenta

[2017-01-26 15:01] evykassirer commented on #90
moving conversation over here (please note that I would prefer if conversation that is more general and not specific to an issue happened in a new issue you create yourself, or in an existing issue meant for general discussion like this one, thanks)

@sangwinc (3 days ago)

@hmaurer (3 days ago)

@evykassirer (23 hours ago)

@sangwinc

[2017-01-26 15:49] nitin42 commented on #70
Navigating the current codebase and would like to contribute in adding a wiki should I get to understand the whole working.

[2017-01-26 16:48] tkosan commented on #96
A related question is are the math problems that students submit stored anywhere? If so, it would be useful to analyze these problems so they can be classified. Then maybe test cases could be written for each problem class.

[2017-01-26 17:04] kevinbarabash commented on #90
Is it safe to say that removing a common factor from both sides that includes a variable will result in a missed solution which may or may not be unique?

[2017-01-26 17:39] sangwinc commented on #96
I think gathering data on the actual problems solved would be very interesting.  I've tended to rely on what is in textbooks, and it would be interesting to see if these are different.

[2017-01-26 17:40] sangwinc commented on #90
The point I'm trying to make is that when you multiply/divide by something you have to ensure it is non-zero.  Or, you have to add in a case to consider if it is zero.  Here we might have

(x+5)(x-7)-5 = (4x-40)(13-x)
(x+5-5(x-7))(x-7) = (4x-40)(13-x)
(4x-40)(7-x) = (4x-40)(13-x)
13-x = 7-x or 4x-40=0
13 = 7 or x=10.

The answer x=10 is the unique solution to the original equation.

[2017-01-26 18:01] evykassirer commented on #90
agreed, when we start to support non-linear equations better, we should definitely make sure to cover these cases

I think that going through math curriculum would help catch a lot of these cases too :)

[2017-01-26 18:10] evykassirer commented on #98
Very much agreed! It should go in the README.

I'll try to get this done this weekend, or you could add it if you're interested :)

[2017-01-26 18:14] evykassirer commented on #98
(let me know if you want to do it and I'll leave it to you)

[2017-01-26 18:15] evykassirer commented on #96
Socratic *does* store these queries! and @aelnaiem is down to make them available for y'all

[2017-01-26 18:18] karuppiah7890 commented on #98
I am new to the repository. I need some guidance on this. And it's API documentation, I think people who created the API should do it, or help me do it. But the latter is kind of double work in this case, no ?

[2017-01-26 18:21] evykassirer commented on #98
I don't mind double work if you're interested in working on it (always happy to support someone contributing to `mathsteps`!) but am also quite fine to do it on my own - just wanted to give you the option :)

[2017-01-26 18:22] karuppiah7890 commented on #98
Okay! Let me help :smile:

[2017-01-26 18:25] evykassirer commented on #82
script done! thanks to @Raibaz and to @emars for the suggestion

[2017-01-26 18:31] karuppiah7890 commented on #98
We can discuss here or in gitter.im and I am in India, UTC+05:30 time zone.

[2017-01-26 18:32] karuppiah7890 commented on #98
It's night now, for me. We can discuss tomorrow!

[2017-01-26 18:35] evykassirer commented on #98
goodnight! 🌃

oo I was going to make a gitter for mathsteps! I'm so glad you suggested it too.

I'm thinking something very similar to the existing expression example in the README, just add one for equations

e.g. building on your example above

[code]

what do you think?

[2017-01-26 18:59] evykassirer commented on #42
`testCanCombine` is a little different because it's not comparing nodes/strings, it's checking true/false. I think you should probably leave that test the way it is for now, or come up with a general function that would be used like:

[code]

(not sure if `testBooleanFunction` is the best name, but it's all I could think of right now)

----

for substeps, I'd expect:

[code]

----

I think it'd be

[2017-01-26 19:12] nitin42 commented on #42
I'll write a more general method for

Right now I am clearing my messy code. But soon it will be up for the PR.

Your point is valid.

[2017-01-26 19:42] evykassirer commented on #42
sounds good. looking forward to the PR!

[2017-01-27 12:26] Raibaz commented on #44
Is it still open and assignable? I can add the missing rules if needed.

[2017-01-27 14:52] karuppiah7890 commented on #98
Pretty neat code! @evykassirer :smile:

[2017-01-27 15:04] karuppiah7890 commented on #98
Do add this one as an example for equations ! :smile: Just remove the `console.log(steps)` line since it puts up lots of clumsy values. The `forEach` function part shows em in a neat manner.

[2017-01-27 15:39] evykassirer commented on #44
yes please! thank you :)

[2017-01-27 15:45] evykassirer commented on #98
oh yes! I meant to take that line out oooops.

Do you want to make the pull request that adds this example?

[2017-01-27 16:10] karuppiah7890 commented on #98
Sure! :+1:

[2017-01-27 17:02] karuppiah7890 opened #102 "README.md : Add complete code example for solving an equation"

[2017-01-27 17:15] karuppiah7890 commented on #98
I created a separate issue for the equation solving example. #102 And created a PR #103 for the same

[2017-01-27 17:17] evykassirer commented on #98
great! would you like to see more thorough API docs too? or do you think the example you added gives enough information (which would mean we can close this issue)

[2017-01-27 18:38] evykassirer commented on #95
Done! Feel free to add more to it :)

[2017-01-27 18:38] #95 closed

[2017-01-27 20:23] aelnaiem commented on #96
Yes! I'll share a formatted set of sample questions next week

[2017-01-28 01:41] evykassirer commented on #98
sweet, I think it should go in the wiki #66

[2017-01-28 04:55] karuppiah7890 commented on #102
Fixed in #103

[2017-01-28 04:55] #102 closed

[2017-01-28 04:58] karuppiah7890 commented on #98
Cool, so shall we close this issue ? or just keep it open till we add docs Wiki ?

And woah, Wiki has lots of stuff, that can help contributors to get familiar with the code base :+1: and contribute with more ease!

[2017-01-28 05:11] karuppiah7890 opened #105 "Use CI tools, like Travis CI for testing and then merging code"
Hey @evykassirer What if developers don't test code or don't add pre-commit hooks ? It's possible for new contributors, they might not see CONTRIBUTING.md or may have forgotten or something. And in that case, no one wants to commit code that fails tests. It will create issues like removing that commit and stuff.

So I think we should use CI tools like how other great repos use them, since I see a

[2017-01-28 19:03] kevinbarabash commented on #105
CI should also run the linter as well.

[2017-01-28 21:36] evykassirer commented on #98
eh, let's just close this issue, and have it part of the wiki issue instead.

yeah! I'm excited about the wiki 👍

[2017-01-28 21:36] #98 closed

[2017-01-28 21:43] evykassirer commented on #105
yes! this would be great

I don't have admin rights - @aelnaiem can you do this, or give me admin rights for mathsteps? thanks!

[2017-01-29 19:55] evykassirer commented on #77
should be fixed now! please re-open this issue if you have any further problems with this.

thanks again for letting us know and @hmaurer and @Raibaz for fixing 😄

[2017-01-29 19:55] #77 closed

[2017-01-30 10:18] Raibaz commented on #44
I opened PR #107 about this, but I have some doubts about the `'use strict'` line: if I enable the [strict rule](http://eslint.org/docs/rules/strict), linting gives errors on almost every file since `use strict' is unnecessary inside of modules`, since ES6 modules are strict by default.

How do you think we should handle this?

[2017-01-30 15:31] evykassirer commented on #82
there's an issue where if you `npm install mathsteps` there's an error `Error: Cannot find module 'semver'
`

I don't have time to look into it now, but hopefully we can fix it soon.

@aelnaiem ?

[2017-01-30 15:42] Raibaz commented on #82
I think this is because `preinstall` is run before dependencies are installed...perhaps moving `npm run requirements-check` to `install` or `postinstall` would fix it?

[2017-01-30 15:51] evykassirer commented on #82
yeah I think that's the issue too.. it's odd because both the stackoverflow answer and medium post user `preinstall` but then dependencies aren't installed yet :p so maybe they're wrong!

I'm also looking around to try to find ways to test installing it again without patching a new version. Let me know if you know of anything

[2017-01-30 18:41] aelnaiem commented on #105
Yep, I'll look into this. Good idea :)

[2017-01-30 18:42] aelnaiem commented on #82
It seems that node-semver should be installed with npm according to this:
https://docs.npmjs.com/files/package.json

[2017-01-30 19:03] aelnaiem commented on #82
Enforcing the engine [was deprecated](https://github.com/npm/npm/blob/master/CHANGELOG.md#enginestrict) as part of an effort to shift control from module authors to application authors. Curious if this suggests that the best practice is to just notify application authors of the node version requirement in the README, and they can also see the requirement in the package.json

[2017-01-30 19:05] evykassirer commented on #82
Sounds OK to me - too bad though :(

[2017-01-30 19:52] aelnaiem opened #109 "Prioritize simple fraction simplification"
`2 - 6/6` will convert 2 into a fraction and do the subtraction instead of simplifying 6/6 to 1. `2 - 12/6` will do the same.

This should be a simple check to see if any fractions can evenly divide out before we combine them.

[2017-01-30 19:54] aelnaiem opened #110 "Canceling out of more node types (functions)"
`nthRoot(2)/nthRoot(2)` should simplify to 1, similarly for abs(x)/abs(x)

[2017-01-30 19:59] aelnaiem opened #111 "Node existence check for nthRoot"
We should check that a node exists when using nthRoot otherwise `Cannot read property 'type' of undefined` will result from a nonsense query such as `x = nthRoot( )`, rather than identifying that the query doesn't make sense.

This might be worth discussing with mathjs as a root of nothing might not be something would want to parse as part of a valid math tree.

[2017-01-30 20:02] aelnaiem opened #112 "When numerator and denominator are negative, the fraction doesn't simplify"
e.g. -8/-32 only cancels out the negatives

[2017-01-30 20:10] evykassirer commented on #109
I thought this logic already existed somewhere, so probably a bug in ordering of simplifications? I thought simplify arithmetic always went first and divided things first if they became integers

[2017-01-30 20:21] aelnaiem commented on #109
Yea, I was surprised when I saw this happen. Could just be a bug

[2017-01-30 20:42] aelnaiem commented on #29
This is interesting, I wonder if there should be a NodeStatus for errors like this in general that we check, not just divide by zero.

[2017-01-30 21:01] kevinbarabash commented on #111
Does mathjs not return a parse error when it sees `nthRoot( )`?

[2017-01-30 22:09] evykassirer commented on #82
should be fixed now :)

[2017-01-30 22:09] #82 closed

[2017-01-30 22:11] evykassirer commented on #29
@aelnaiem I was thinking about that too!

In the PR, I talked about:

what do you think?

[2017-01-30 22:16] evykassirer commented on #110
I tried adding these two tests to  `cancelLikeTerms.test.js`

- `['nthRoot(2)/nthRoot(2)', '1']`
- `['abs(x)/abs(x)', '1']`

and both passed

is this failing somewhere else @aelnaiem ?

[2017-01-30 22:20] evykassirer commented on #112
I added `['-8/-32', '1/4']` as a test to `simplify.test.js` and it worked for me

output from debug:

[code]

are there issues in Athena (the Socratic private code that uses this)?

or is there some other test you can find that fails

[2017-01-30 22:36] evykassirer commented on #111
it doesn't :(

I believe it's 'cause it parses it as a FunctionNode and those don't have to have arguments. This only becomes an error when you try to _evaluate_ the FunctionNode and it treats it specifically as a root function

@josdejong thoughts?

also a fix here could be in `hasUnsupportedNodes.js`, make sure that `nthroot` nodes have exactly 1 or 2 arguments

[2017-01-31 01:04] evykassirer commented on #44
oh! I didn't realize it's strict by default. Let's get rid of `"use strict";` in those files then. Thanks :D

[2017-01-31 03:38] kevinbarabash commented on #110
Not sure where this should go, but would another test case be `['((-x)^2)/(x^2)', '1']`?

[2017-01-31 03:47] evykassirer commented on #110
ooo yeah.

I think that'd be separate from this though. We want to handle (-x)^2 -> x^2. This is a dealing with negatives/coefficients when squaring thing, which we don't do at all i think? `(2x)^2` might not even go to `4x^2`. Let's open an issue for that

[2017-01-31 04:11] kevinbarabash commented on #111
Thinking about this some more – not returning a parse error makes sense b/c how many arguments `nthRoot` requires is a semantic issue.  We could do some kind of semantic sanity check on the parse tree.  It might also make sense to also check if the argument(s) produces a result within the reals, e.g. `nthroot(-1,2)`.

[2017-01-31 04:18] evykassirer commented on #111
Sounds good! This should all go in `hasUnsupportedNodes` I think :)

[2017-01-31 04:18] evykassirer commented on #111
(and this would make a great first PR ^^)

[2017-01-31 14:17] evykassirer opened #113 "handle exponents on coefficients of polynomial terms"
Right now there's this bug:

- `(2x)^2` -> `2x^2` (instead of `4x^2`)
- `(-x)^2` -> `-x^2` (instead of `x^2`)

There's nothing that handles exponents on simple polynomial terms like this. We should fix `removeUnnecessaryParens` to not remove parens if there's an exponent, and then implement the polynomial operation to do exponents on polynomial terms. (probably in its own tree search after `divisi

[2017-01-31 15:23] kevinbarabash opened #114 "Keep track of solution constraints"
As mentioned in https://github.com/socraticorg/mathsteps/pull/88 we should keep track of solution constraints.  For example:
[code]
The domain of the initial expression is `x != 1`.  The domain should be maintained throughout so that we can identify answers which are invalid.

[2017-01-31 16:22] evykassirer commented on #114
relevant conversation from #88:

and my reply to this:

yes, that's what I was thinking :)

I don't think there's an easy way to pass things between NodeStatuses right now, but we could refactor that to make it work I think.

[2017-02-01 14:17] #112 closed

[2017-02-01 14:18] aelnaiem commented on #110
Interesting! Let's close this and open another issue, and I'll track down why our specific implementation had this bug.

[2017-02-01 14:18] #110 closed

[2017-02-01 14:18] aelnaiem commented on #29
Yea I think that's a good idea!

[2017-02-01 17:41] aelnaiem commented on #96
Here's a list of questions that students have asked us (I've filtered what seem like 'valid' questions). Due to the nature of our application, students learn what types of questions we can explain to them, so unfortunately it's not a very creative list. Students know not to ask Calculus questions yet for example.

But it does still bring up a lot of things we don't support yet including (in order

[2017-02-01 18:02] aelnaiem commented on #114
Interesting! Yea there's definitely something to having the SolutionStatus or something higher level. It could even be something passed from node status to node status... It also makes me think about how we'll manage multiple equations when we add systems of equations support in the future...

[2017-02-01 19:49] arve0 commented on #90
Hi!
First, thanks for the library, great stuff 😄

I have this simple equation: `x + 1 = 2`

Here are the steps from `solveEquation()`:
1. SUBTRACT_FROM_BOTH_SIDES
  x + 1 = 2 => (x + 1) - 1 = 2 - 1
2. SIMPLIFY_LEFT_SIDE
  (x + 1) - 1 = 2 - 1 => x = 2 - 1
    1. COLLECT_AND_COMBINE_LIKE_TERMS
      x + 1 - 1 = 2 - 1 => x + 0 = 2 - 1
        1. COLLECT_LIKE_TERMS
          x + 1 - 1 = 2 - 1 => x + (

[2017-02-01 23:45] aelnaiem commented on #90
@arve0 interesting point. I think the parenthesis is an implementation detail because depending on how we're isolating x we might do operations that require parenthesis (like a division or multiplication) and those that don't (like addition or subtraction), but the code groups them so we always add parenthesis.

Do you believe it would be more clear to not have the parenthesis when adding or subtr

[2017-02-02 03:39] tkosan commented on #45
On the following website is a file named moses-simp.pdf that contains a paper titled "Algebraic Simplification a Guide for the Perplexed":

[https://groups.csail.mit.edu/mac/users/gjs/6.945/readings/simplification/](https://groups.csail.mit.edu/mac/users/gjs/6.945/readings/simplification/)

It describes the various ways simplification is typically used in a CAS, which may be helpful for this discu

[2017-02-02 05:24] kevinbarabash commented on #45
We should probably also take into consider the context of the expression `(x+y)^2`.  If it's in an equation like `(x+y)^2 = 0` then it makes more sense to square root both sides, e.g.
[code]
Having some way to detect and perform steps that apply to equations will help with this situation and others to produce steps that are more like what a human would do.

[2017-02-02 07:13] tkosan commented on #96
This list of questions is helpful, thanks for posting them.

It would be useful to determine the various ways that elementary algebra expressions can be classified. A number of ways are present in your "not supported yet" list, and more could be identified that are already implemented in mathsteps.

Another way to classify elementary algebra expressions is by their structure. I have been experimen

[2017-02-02 08:52] sangwinc commented on #96
That is very interesting.  Thanks for posting the list of questions.

Is there a reason you have posted these as LaTeX, and not in a "content" form?  As Ted says, writing a parser for this set of expressions isn't difficulty (and would be a fun exercise!).

[2017-02-02 09:00] sangwinc commented on #90
Can I ask (sorry I didn't read the code....) how you are dealing with "associative, commutative binary operators" such as + and *?

Maxima has an "n-ary" operator concept which allows "+" to have an arbitrary number of arguments.
So (x + 1) - 1 is  (internally) like "+"("+"(x,1),-1) and x+1-1 is like "+"(x,1,-1).

I quite like this design.  "flattening" the first example into the second is essenti

[2017-02-02 13:45] arve0 commented on #90
Yes, I would not teach "remember to add parenthesis before subtracting".

[2017-02-02 18:15] aelnaiem commented on #96
Ahh good question. That's a consequence of how we get student input, but a converted version would be more useful I can imagine.

[2017-02-02 18:35] aelnaiem commented on #90
Agreed, that makes sense. Let's add an issue for that improvement :)

[2017-02-03 02:28] evykassirer opened #115 "don't add parenthesis before subtracting/adding (equations)"
as discussed in #90 (thanks @arve0 !)

[2017-02-03 02:31] evykassirer opened #116 "question about flattening"
question from @sangwinc (originally in #90, moved here because it wasn't specific to equations)

[2017-02-03 02:31] evykassirer commented on #116
Answer:

Yes! We deal with those things exactly as you describe. You can learn more in our [blog post](https://blog.socratic.org/stepping-into-math-open-sourcing-our-step-by-step-solver-9b5da066ae36#.yc5hcshjs) under the heading "2. Modifying expression trees for step-by-step solutions"

[2017-02-03 02:32] evykassirer commented on #116
feel free to ask more followup questions about that here, or close the issue if you're satisfied :)

[2017-02-03 02:47] evykassirer commented on #44
done!! until we find more rules we want to add haha.

but let's close this for now :)

thanks so much @biyasbasak and @Raibaz for making the mode more beautiful 😍

[2017-02-03 02:47] #44 closed

[2017-02-03 02:50] evykassirer commented on #45
agreed @kevinbarabash - I think we're gonna have to revamp the way equations work, to be a lot more smart about things. I wonder what the steps towards that are... read some papers? have a meeting on gitter where we brainstorm stuff?

[2017-02-03 07:19] tkosan commented on #116
The PRESS researchers also implemented "flattening" in their solver, and they used a data structure called a "bag" to represent variadic functions and predicates. The following passage from Dr. Bundy's writings discusses variadic functions and predicates and the bag data structure:

[http://patternmatics.org/mathsteps/tmp/press_bags.txt](http://patternmatics.org/mathsteps/tmp/press_bags.txt)

Over

[2017-02-03 08:07] tkosan commented on #45
@evykassirer, I think it would be useful to brainstorm about various ways mathsteps might be used in the future before determining how equations should work.

[2017-02-03 13:01] aelnaiem commented on #105
Added Travis :)

[2017-02-03 16:50] evykassirer commented on #116
cool visualization!

[2017-02-03 17:35] aelnaiem commented on #45
I'll be adding a timeline and doing a better job organizing over the next few days as part of the [wiki effort](https://github.com/socraticorg/mathsteps/issues/66) and that will give us something we can discuss around

[2017-02-03 18:12] t-k- opened #118 "Propose for StackExchange Community Promotion AD"
Mathsteps is awesome, I personally believe its usefulness with regarding to its potential to change math education immensely.

To spread the world, it is time to take the chance and participate in the bid for [StackExchange 2017 Community Promotion]( http://meta.math.stackexchange.com/questions/25812/community-promotion-ads-2017). The invitation post has just been posted for several hours, Mathste

[2017-02-03 19:39] tkosan commented on #96
After studying the PRESS research, I suspected that the math problems which are in most textbooks were created using unscientific processes. Discussions such as [How do authors make their problems/exercises for their math books?](https://math.stackexchange.com/questions/1327198/how-do-authors-make-their-problems-exercises-for-their-math-books/1327202) on math.stackexchange support this suspision.

[2017-02-04 04:31] evykassirer commented on #118
thank you so much for bringing this to attention!

I'll make an ad this weekend :)

[2017-02-04 22:06] evykassirer commented on #118
draft:

<img width="300" alt="mathsteps-ad" src="https://cloud.githubusercontent.com/assets/5634097/22621894/43e2d070-eafc-11e6-93c1-a9f10c2cc861.png">

[2017-02-05 00:59] kevinbarabash commented on #118
Love the blueberries... but why blueberries?

[2017-02-05 01:03] evykassirer commented on #118
I was thinking of making it part of the logo for mathsteps, because it has a lot of personal meaning to me in my internship at Socratic and in the birth of mathsteps

the math card on the Socratic app that shows step by step results is blueberry themed

also I brought blueberry yogurt into the office at Socratic (the best flavour) and on my last day of work became the blueberry queen

![evygif_360

[2017-02-05 02:33] evykassirer commented on #42
done! thanks so much @nitin42

[2017-02-05 02:33] #42 closed

[2017-02-05 06:05] t-k- commented on #118
Looks great. But I do not know whether your background is considered as "partially white", if so, you need to surround it with a 2px border:

I am not 100% sure about this particular requirement. But adding a border ensures your image meet the requirement.

[2017-02-05 16:48] evykassirer commented on #118
Thanks!

Hmm true... but I think that Geogebra's grey border is _lighter_ than the blue edges of ours, so should be ok? I have a feeling"partially white" means that there's white on the edge somewhere, there needs to be a border

[2017-02-05 17:18] t-k- commented on #118
@evykassirer NP. Then go and post your AD soon such that mathsteps will have more time to attract votes.

Good luck!

[2017-02-06 02:11] evykassirer commented on #118
I'd appreciate it you could post is, as I don't use stack exchange and don't have the reputation :)

I was thinking of this:

[![mathsteps](http://imgur.com/0AWckKY.png)](http://github.com/socraticorg/mathsteps)

[code]

[2017-02-06 05:34] t-k- commented on #118
Sure thing. Yet when I paste your draft content, Stackexchange prompts me:

So it seems your `http://imgur.com/0AWckKY.png` URL is not acceptable. Try to use StackExchange editor button to upload the image instead.

Unfortunately, my working environment does not allow me to upload an image. If you want to post it soon, upload the image, get the required image URL and then ping me again.

[2017-02-06 06:51] tkosan commented on #96
Here is a first attempt to create a parsed version of the list of questions:

[sample_questions-1_parse_and_analyze_v.01.txt](https://github.com/socraticorg/mathsteps/files/753768/sample_questions-1_parse_and_analyze_v.01.txt)

The parser is still buggy, so if you notice any errors please point them out.

Each question has an entry that lists the LaTeX version of the question, its line number in t

[2017-02-06 12:50] t-k- commented on #118
Since I am at home now, I have posted your AD just now. So ignore my previous comment.

Please notice, I have also changed your `http://github.com/socraticorg/mathsteps` link to `https://socratic.org/` because I assume most people on Math StackExchange are not familiar with GitHub. Ping me if you want to change it back.

[2017-02-06 15:46] evykassirer commented on #118
thank you!

if they're not familiar with github, how are you hoping they'll use or contribute to it? are you hoping to advertise the app instead? maybe I should make a different ad if that's the goal

[2017-02-07 00:49] t-k- commented on #118
The majority are not familiar with GitHub does not mean there is no hope to see people from Math StackExchange who know how to program to join the development.  As you said, the primary goal is to advertise indeed.

Sorry I change that not according to your wish. I am going to revert that link so that at least people will feel a sense of relevance. If you get an new AD image, ping me and I will ch

[2017-02-07 00:56] t-k- commented on #118
I know it is a bit of frustrating to see people's downvote, but [my first attempt](http://meta.math.stackexchange.com/questions/22419/community-promotion-ads-2016) does not go well at first also. I believe if we leave a comment to ask what other users on MSE think about your AD and improve accordingly, it will eventually attract a lot of votes. After all mathsteps look quite promising overall.

[2017-02-07 01:03] evykassirer commented on #118
I think aiming to attract mathy programmers is probably my goal (assuming they're a big enough portion of the math exchange audience)

Thanks :)

[2017-02-07 01:06] evykassirer commented on #118
I need reputation to comment, but I'd appreciate if you could ask!

[2017-02-07 04:56] t-k- commented on #118
Sure thing.

[2017-02-07 17:32] aelnaiem opened #120 "Incorrect before_node in GROUP_COEFFICIENTS change"
@karuppiah7890 noticed that one of the steps prints out the incorrect math statement. The final result is correct, so it's even more curious how this is happening. Most likely due to how we clone the node.

[code]

[2017-02-07 21:29] tkosan commented on #66
I have started to [translate mathstep's rewrite rules into the rewrite rule language of a CAS](http://patternmatics.org/mathsteps/tmp/mathsteps_rules_to_cas_rules_translation_v.01.html) in order to help document them. Using a more abstract language like this to show what each rewrite rule does may make it easier for potential contributers to learn the codebase.

[2017-02-09 00:58] shirleymiao commented on #111
https://github.com/socraticorg/mathsteps/pull/121

[2017-02-09 02:29] shirleymiao commented on #113
Taking a crack at this!

[2017-02-09 02:52] #111 closed

[2017-02-09 02:52] evykassirer commented on #111
done! thanks @shirleymiao

[2017-02-09 18:20] evykassirer commented on #105
reopening until we figure out how to add the linter

[2017-02-09 19:22] kevinbarabash commented on #105
@evykassirer should be able to add a `scripts` section to .travis.yml like so:
[code]

[2017-02-09 23:16] evykassirer commented on #105
yay thanks Kevin :D

[2017-02-09 23:17] #105 closed

[2017-02-10 02:29] evykassirer commented on #113
not done yet! still need to add stuff to do exponent things

[2017-02-10 02:36] evykassirer opened #124 "make a demo (accessible in the browser)"
it'd be nice to have a demo that someone can open to see what steps are returned for some input

right now you'd have to clone the project first and write some code, which puts up a barrier

haven't looked into the best way to do this - someone's suggested a [Heroku app](https://devcenter.heroku.com/articles/getting-started-with-nodejs#introduction)

[2017-02-10 02:40] evykassirer commented on #124
@aelnaiem can you make a new repo called mathsteps-demo in socraticorg? @shirleymiao is interested in working on it :D

(my friends are suggesting this, but if you want it in the same repo feel free to debate)

[2017-02-10 03:24] evykassirer commented on #115
so this happens in `performTermOperationOnExpression` in `EquationOperations.js`

we **should** add parenthesis if the operator is `/` or `*` or `^`
e.g. `2y = 2x + 2 => y = (2x + 2) / 2`

we **should not** though, if the operator is `+` or `-`, because we don't need parens to add/subtract to both sides

this should be a change that's only a few lines :)

[2017-02-10 03:27] #118 closed

[2017-02-10 03:29] evykassirer commented on #72
@emars just checking in - how's this going? need help with anything?

[2017-02-10 03:32] #116 closed

[2017-02-10 03:34] evykassirer commented on #66
closing cause the wiki's pretty sweet right now - thanks @aelnaiem !

we can reopen this issue if anyone wants more stuff added

[2017-02-10 05:15] nitin42 commented on #66
Wiki is good but I want to ask about the API. Is it more extensible ?

[2017-02-10 16:10] shirleymiao commented on #113
and by "stuff to do exponent things," we still need to handle distributing the exponent to inner ops (namely, nested exponents, multiplication, division).

[2017-02-10 16:24] evykassirer commented on #66
can you explain what you mean by "more extensible"?

[2017-02-10 17:11] aelnaiem commented on #124
Here ya go: https://github.com/socraticorg/mathsteps-demo
Excited to see what you come up with @shirleymiao

[2017-02-10 17:32] nitin42 commented on #66
The question is that can a user be provided with more methods or functionalities to play around with the equation apart from seeing the changeTypes and solving an eq.

[2017-02-10 17:40] emars commented on #72
Hey sorry, I got busy with work and completely forgot lol.

I'll tackle this tomorrow unless somebody else is interested. Let me know.

[2017-02-10 19:34] evykassirer commented on #66
right now all you can do with the mathsteps library is:

- solve an equation step by step
- simplify an expression step by step
- (coming soon) factor a quadratic

and the steps have changeTypes and maybe substeps (as described in the wiki section about NodeStatus)

let me know if you have any other questions :)

[2017-02-10 19:59] nitin42 commented on #66
All clear for now 😄

[2017-02-10 20:22] evykassirer commented on #72
no problem - that's why I asked haha

go for it! it's still assigned to you :)

[2017-02-10 20:49] tkosan commented on #66
I am interested in knowing what Socratic.org wants mathsteps to do in the future. For example, should it be able to:
- Support a single step mode so it can be used as a tutor? (In single step mode, an expression is submitted, one step is made on it, and then this step is returned).
- Run its rewrite rules in reverse so problems can be generated that require specific rules to solve. This would be u

[2017-02-10 21:25] evykassirer commented on #66
This function already exists! But it's not exposed. We could maybe expose it, but you could also get the step by step solution and just use the first step

I think this is out of scope for mathsteps right now, but if someone else wanted to work on this that'd be very exciting!

This would be a great extension to mathsteps - I think it would be a separate project that _uses_ mathsteps, but this is

[2017-02-11 12:33] nitin42 commented on #46
I can try this and will let you know if I am done. And I think we'll have to create a new check to make a case for non-polynomial terms too. Right ?

[2017-02-11 17:21] evykassirer commented on #46
sounds good! I'll mark you as assigned

you should be updating `collectAndCombineSearch` (or making another tree search similar to it) to handle non-polynomial terms. let me know if you have any questions!

[2017-02-11 19:55] nitin42 commented on #46
Ok but I'll start working on it soon as possible (pending college stuff). Hope you don't mind !!

[2017-02-12 02:07] rshconn commented on #115
I'm working on this!

[2017-02-12 02:09] evykassirer commented on #115
RACHEL! 😸  ❤️

excited to have you contributing

[2017-02-12 02:20] evykassirer commented on #40
oh this is actually related to #113 because we want to do stuff with exponents when multiply, dividing, and exponentiating but we don't right now.

I'll close this and let it be referred to in the other issue instead

[2017-02-12 02:20] #40 closed

[2017-02-12 02:21] evykassirer commented on #113
added some more clear tests in the description to show what the next steps should implement

[2017-02-12 02:37] kevinbarabash commented on #115
@evykassirer are the parens necessary for the `/`, `*`, and `^`?  Wouldn't the following expression tree:
[code]
render as `(x + 2) / 2`?

[2017-02-12 02:39] evykassirer commented on #115
it does when you print it with `.toString()` but not with our handmade `print()` (which was made before we were able to use `toString()`

I kind of like the idea of knowing exactly where parens are, especially because sometimes we explicitly add them for pedagogy reasons (e.g. `(x + x) + (2 + 2)`) but maybe we could consider having a smarter print function and not as many parens in the tree. What

[2017-02-12 02:54] kevinbarabash opened #126 "Should `print` add in parens automatically where necessary?"
Having to add explicit `ParenthesesNode`s makes the expression tree harder to manipulate and may result in output which doesn't look like what the expression tree represents.

Right now `print({ "/" [ { "+" [ "x", "2" ] } "2" }) => "x + 2 / 2"`.  Re-parsing `"x + 2 / 2"` results in `{ "+" [ "x", { "/" [ "2", "2" ] } ] }` which is not the same expression.

I'd like to propose the following behavior

[2017-02-12 02:56] evykassirer commented on #126
this seems quite reasonable. would definitely make some things easier.

I'm curious if there'd be any complications that come out of this, but my intuition is that it'd be alright. Thanks for opening this :)

[2017-02-12 02:58] evykassirer commented on #115
(conversation about `print` continued in #126 )

[2017-02-12 03:18] kevinbarabash commented on #46
Would factoring out a common factor also fall under this issue?  For example:
[code]

[2017-02-12 03:46] evykassirer commented on #46
no, I think that would go under our Factoring module

#50 is what we have so far, this case isn't covered yet

(tbd how it's gonna fit in with `simplifyExpression`... it's hard cause sometimes it's best to leave it in expanded form and sometimes it's best to leave it in factored form, and sometimes factoring lets you cancel things out..... yeah we're gonna have to figure out how this will work)

[2017-02-12 10:14] Flyr1Q commented on #120
@aelnaiem @karuppiah7890 It seems like there is a difference between node.toString() and util/print.js in this case.

`
# Everything is fine for parenthesis:
Node {
  implicit: true,
  op: '*',
  fn: 'multiply',
  args:  [
     Node { content: [Object], changeGroup: 1 },
     Node { name: 'x', changeGroup: undefined }
  ],
  changeGroup: 1
}
# node.toString(): (2 + 3) x
# util/print.js: (2 + 3)x

[2017-02-12 12:52] Flyr1Q commented on #120
I think #126 relate to this issue

[2017-02-12 15:03] rshconn commented on #38
I'm working on this!

[2017-02-12 17:01] evykassirer commented on #120
yes, this sounds like a reasonable solution to this problem. I'd love if you could update `print` to add in parens better!

I'll assign you to this and to 126

[2017-02-12 17:01] evykassirer commented on #126
thanks for taking this on @Flyr1Q :D

[2017-02-13 12:10] Flyr1Q commented on #126
@evykassirer you're welcome ;)

[2017-02-13 17:12] evykassirer commented on #50
unassigned, since the initial pull request went through

we still need to add quadratic equation, and also expose factoring to users of the mathsteps module

[2017-02-13 20:04] Flyr1Q commented on #126
Ok, I've tried to implement what @kevinbarabash suggested.

`print({ "/" [ { "+" [ "x", "2" ] } "2" }) => "(x + 2) / 2"` <- perfectly fine
#120 is fixed as well

But this is not ok for the `print({ "+" [ { "+" [ "x", "x" ] } { "+" [ "2", "2" ] } ] }) => "(x + x) + (2 + 2)"`
[code]

Then I realized not all nodes, passed to util > print.js, are always flattened. Simplify (unflatten) relies on print

[2017-02-13 20:12] evykassirer commented on #126
cool! I'm glad you're getting somewhere, and also that's an interesting tricky thing :o

you're right - flattening will be needed. good catch. I would say just call flatten on the node before printing it. Does that work?

[2017-02-14 14:31] Flyr1Q commented on #126
@evykassirer Sorry for double log. Noticed I made unnecessary change, recreated branch in own repository. Still do not have much experience in open sourcing :D

[2017-02-14 17:03] aelnaiem commented on #50
Thanks for updating this! I will probably pick up exposing factoring in the API. Should it just be around factor() or should it be factorQuadratic? Also, factoring is often one step (currently it always is but it will have more steps once we support the quadratic equation). Finally, should we support factoring for equations as well? In the case that it's x^2 + 3x + 2 = 0, we actually have two resu

[2017-02-15 16:40] evykassirer commented on #126
that's okay! I'll go take a look. I don't have much experience in open source either - so we're both new hehe

if you ever need help with git, feel free to ping me on https://gitter.im/mathsteps-chat/Lobby

[2017-02-17 17:13] evykassirer opened #128 "create our own parser and node structure"
using @kevinbarabash's parsing tool https://github.com/kevinbarabash/math-parser

----

### some context from #89:

the proposal:

things that need to be added to `math-parser` to support `mathsteps`:

- [ ] more tests
- [ ] eval
- [ ] anything else?

discussion on `math-parser`: https://github.com/kevinbarabash/math-parser/issues/12

things that need to happen in `mathsteps` to swap out mathjs' e

[2017-02-17 18:22] aelnaiem commented on #120
I love when issues are related!

[2017-02-17 18:31] kevinbarabash commented on #128
@evykassirer thanks for opening this issue.

I've been a little distracted working [math-ast](https://github.com/kevinbarabash/math-ast) which provides a [spec](https://github.com/kevinbarabash/math-ast/blob/master/spec.md) for what a shared AST might look like.  My hope that by defining a more comprehensive a reusable AST that targets K-12 + undergrad math + science we promote the development of

[2017-02-17 18:36] aelnaiem opened #129 "Math error/completion infrastructure"
Even if something is parseable as math, doesn't mean it's valid.

We want some way to say that we encountered an error in trying to provide steps for the query. The simplest example is a division by zero error, but other errors include trying to find the square root of nothing.

Currently, we stop iterating steps when we get a noChange NodeStatus. The simplest thing would be to provide an optional

[2017-02-18 04:55] evykassirer commented on #129
related to #29 and #33

[2017-02-18 07:14] tkosan opened #130 "Support for solving multivariate equations"
I have been working on giving mathsteps the ability to solve multivariate equations as the first phase of giving it the ability to solve simultaneous equations. The following file shows what I have working so far:

[solving_multivariate_equations_test.v.01.txt](https://github.com/socraticorg/mathsteps/files/784847/solving_multivariate_equations_test.v.01.txt)

Each of the equations in this documen

[2017-02-18 19:19] kevinbarabash commented on #130
@tkosan cool stuff.  It's interesting looking at the different forms of the solutions.  I like how MathPiper puts the `x` term first, but mathsteps definitely provides much simpler solutions in general, e.g.

[code]

[2017-02-18 20:43] tkosan commented on #130
MathPiper's conventional equation solver can be configured to return results in different forms:
[code]

[2017-02-18 22:00] evykassirer opened #131 "return more information than just steps (final result, error message)"
Mathsteps currently returns [] if a solved equation is passed to it. The standard thing for a CAS to return in this situation appears to be the solved equation. I like the standard behavior because then the calling code does not need to check if an equation is already solved before submitting it.

One solution would be to return an object that has
1) a property which contains the list of steps,
2)

[2017-02-18 22:00] evykassirer commented on #131
thanks to @tkosan for the suggestion!

[2017-02-19 04:04] evykassirer opened #132 "be able to tell if two expressions are equal"
This would be helpful for:

- cancelling like terms: e.g. `(x + 2)/((x + x)` doesn't cancel right now
- anyone that wants to build learning tools on top of `mathsteps` that lets learners write in their open work that is checked along the way

There might be different solutions for different situations - sometimes we might want to know if two expressions are equal in any way, and sometimes we might

[2017-02-19 04:05] evykassirer commented on #130
cool! would love to see the code for this 😄 and what the steps along the way look like

side note: your equivalent function would be very helpful for #132 - would you up for adding that to mathsteps too?

[2017-02-19 04:11] kevinbarabash opened #133 "should `a b` be implicit?"
It seems weird to treat `2 a` as implicit but not `a b` or `2 a b`.

[code]

[code]

I would expect `2 a b` to be parsed as a single `implicit: true, op: "*"` node.  As we start to support multivariate equations as proposed in https://github.com/socraticorg/mathsteps/issues/130, we'll probably want to differentiate `2 a b` from `2 a * b`.

[2017-02-19 04:15] evykassirer commented on #133
oo yeah. mathsteps doesn't really consider multivariable things very well

One issue is that mathjs parses 2ab with "ab" as a single symbol (pretty sure) --- but if we start using `math-parser` I guess we can fix that :D

And `flattenOperands` doesn't have great logic for multivariable implicit multiplication. As we start to support multivariable, I would definitely like to fix this. And in genera

[2017-02-19 04:25] kevinbarabash commented on #133
Does it make sense to parse `2xy * xy` as:
[code]

[2017-02-19 04:33] evykassirer commented on #133
yeah, I think it makes sense to parse it like that (though "2" would a number node and "x" a symbol node, and stuff)

but eventually, as we're solving, I think the tree should look like

[code]

so that we can group similar terms together to get `2 * x^2 * y^2` (or `2 x^2 y^2 depending on how we use implicit)

if you were to teach this, when would you use implicit vs explicit notation (after parsi

[2017-02-19 05:00] kevinbarabash commented on #133
Given the equation `2xy = 1/(xy)` I might multiply both sides by `xy` and would probably want to show that as:
[code]

[2017-02-19 07:42] tkosan commented on #130
I forked the YACAS CAS in 2008 to create MathPiper. YACAS's core CAS capabilities were incomplete, so I have MathPiper use the Reduce CAS for its heavy-duty conventional CAS needs. The expression equivalence functionality that was used for the above testing is buried deep within Reduce, and it is written in RLisp.

I like to think I know enough about how conventional CASs work to implement an expr

[2017-02-19 13:47] kevinbarabash commented on #130
I like the KAS system b/c it's relatively simple to implement.  It evaluates both expressions at a number of different values and compares them at a number of carefully chosen values.  The nice thing about this approach is that it can compare expressions that the system isn't able to simplify yet.  The downside though, is that the algorithm is exponential on the number of different variables in th

[2017-02-19 14:49] hmaurer commented on #129
Yes, I think this makes sense. All errors (parsing, division by zero, etc) would then generate an "error" node status and you would stop the iteration at that point.

Question: what kind of data would the error carry? For a syntax error you would likely report the index of the character which could not be parsed as well as an error message spit out by the parser.  For an error such as division-by-

[2017-02-19 15:51] kevinbarabash commented on #129
What action do we want to take when we encounter an error?  Depending on the answer to that question it might be easier to throw an exception and catch it at the top level.

[2017-02-19 18:00] evykassirer opened #134 "getting better at open source: make mathsteps easier to contribute to and maintain"
I'd like to continue to make `mathsteps` better in the open source community: more people finding us and wanting to help, easier for people to get started, fun for people to keep contributing, easier for maintainers to maintain, etc.

A lot of these tasks can be done by anyone, so if you'd like to help out lemme know!

I found https://opensource.guide/ which looks amazing, and am taking notes on s

[2017-02-19 18:02] nitin42 commented on #134
I will look into this !

[2017-02-19 18:03] evykassirer commented on #132
@tkosan :

@kevinbarabash :

[2017-02-19 18:03] evykassirer commented on #134
oh, and feel free to comment here anything else to add to the list!

[2017-02-19 18:04] nitin42 commented on #134
I think I can make a github page or something for enhancing the wiki ! What do you think?

[2017-02-19 18:05] evykassirer commented on #134
what do you mean by a "github page"? and I'd love to enhance the wiki :)

[2017-02-19 18:07] nitin42 commented on #134
I mean setting up a gitbook like thing (see [this](https://developmentarc.gitbooks.io/react-indepth/)) or setting up a static page (using Jekyll and Github).

[2017-02-19 18:08] nitin42 commented on #134
If you want to keep wiki compact then I'd say we should go for [GitHub Pages](https://pages.github.com/) or for a more detail explanation GITBOOK is awesome......!!!

[2017-02-19 18:10] evykassirer commented on #134
whoaaa gitbook looks great! let's move this conversation to #66

[2017-02-19 18:11] evykassirer commented on #66
what sort of stuff would you like to add to the wiki @nitin42 ?

let's make a list of stuff to talk about, and then we can figure out where it'll go and how we organize it :)

[2017-02-19 18:14] evykassirer commented on #129
if it's obvious that there's an error at the beginning (parse error) then I think throwing an error makes sense or something at the top level

but if it's dividing by 0, that could only become clear after a few steps have already happened, and I think it'd make sense to go like this:

[code]

Where you mention the error once you've gotten there. I think using change groups or something to point ou

[2017-02-19 18:16] nitin42 commented on #66
* Introduction to the mathsteps (with examples)
* How to use
* Working
* FAQ
* Glossary
* API reference
* Change logs
* Feedback

Thinking more.....

[2017-02-19 18:17] nitin42 commented on #66
* Troubleshooting

[2017-02-19 18:19] nitin42 commented on #66
I am done with my list ! 😎

[2017-02-19 18:34] kevinbarabash commented on #129
I agree that we should show all of the successful steps, but it would be nice if we could avoid passing an error object when doing the tree searches.  I was thinking a `try/catch` around the the call to `step`, not sure if this is the right place for that.

[2017-02-19 18:36] kevinbarabash commented on #129
@evykassirer were you think that we'd check if NodeStatus had an error [here](https://github.com/socraticorg/mathsteps/blob/master/lib/simplifyExpression/stepThrough.js#L40-L54)?

[2017-02-19 18:47] evykassirer commented on #129
yeah - that's what I was thinking.

it might get a bit more complicated because we sometimes do a few simplifications in a row to get substeps before going back to that top level function, and we might want to return early in those places too if there was an error

[2017-02-19 18:48] evykassirer commented on #66
sounds awesome!!! if we make a gitbook, can anyone submit a request to change it? how does that work?

[2017-02-19 18:58] nitin42 commented on #66
![github_page](https://cloud.githubusercontent.com/assets/16336071/23105322/811e8368-f703-11e6-9169-f5032c120eb6.png)

[2017-02-19 19:00] nitin42 commented on #66
this will do?

[2017-02-19 19:01] evykassirer commented on #66
hmm so I guess we need to make a repository for the gitbook so people can make PRs?

I don't want to give everyone edit access, I'd rather make sure a mathsteps maintainer has read something over first.

[2017-02-19 19:01] nitin42 commented on #66
And other options is GitHub Page

[2017-02-19 19:03] evykassirer commented on #66
@shirleymiao is already planning to work on #124

we could make that on github pages and add a wiki? or should we make a separate repo for the wiki..?

alternatively you could just write up a gist on github with what you'd like to go on the wiki and once I approve it I can copy paste it into our wiki on GitHub (kinda ugly but might work)

or something like this http://stackoverflow.com/questions/1

[2017-02-19 19:05] shirleymiao commented on #66
I'm going to be pretty busy for the next two weeks, so if someone else wants to commandeer / start work on #124 please feel free to :)

[2017-02-19 19:19] nitin42 commented on #66
Last one seems fine !

[2017-02-19 19:36] evykassirer commented on #124
@shirleymiao:

[2017-02-19 20:40] tkosan commented on #129
I think using the `try/catch` mechanism is a good way to handle all sources of errors. This is the way that errors are handled in MathPiper, and it works well. However, MathPiper exposes an [`evaluate` API method](https://bitbucket.org/tkosan/mathpiperide/src/6dacd39e89601e5c4be7b72d5a711d9772fc32aa/src/library_apps/mathpiper4/src/org/mathpiper/interpreters/Interpreter.java?at=master&fileviewer=fi

[2017-02-19 20:51] tkosan commented on #129
@evykassirer tree positions are an effective and elegant notation for identifying the part of a tree where an error occurred. A short explanation of how tree positions work is present in the following document starting at the first use of the word "position":

[The language of expression trees](http://patternmatics.org/temp_1/mathfuture/lesson4/)

I learned about tree positions when I first starte

[2017-02-19 20:55] tkosan commented on #124
Are there plans to eventually have mathsteps run in the browser?

On Sun, Feb 19, 2017 at 2:36 PM, Evy Kassirer <notifications@github.com>
wrote:

[2017-02-19 20:59] evykassirer commented on #124
I think we can use http://browserify.org/ ? haven't fully looked into it though

[2017-02-19 21:10] tkosan commented on #124
I am going to try to get mathsteps to run in a browser using browserify.

[2017-02-19 21:21] evykassirer commented on #124
great! lemme know how it goes. if it's easy, we can like get a github pages demo up pretty quickly (there's already a repo made for it)

[2017-02-20 01:35] kevinbarabash commented on #128
Quick update: I've put up an interactive [demo](https://kevinbarabash.github.io/math-parser/) for math-parser.  You can switch the output format by using the drop down.  Probably the biggest pending issue is https://github.com/kevinbarabash/math-parser/issues/16.  If you discover other issues please use the "permalink" button in the demo and copy a link into into the issue.

[2017-02-20 07:44] tkosan commented on #124
Here is a demo of mathsteps running in the browser:

[http://patternmatics.org/mathsteps/tmp/demo/mathsteps.html](http://patternmatics.org/mathsteps/tmp/demo/mathsteps.html)

The UI is not pretty, but it is functional.

[2017-02-20 16:02] evykassirer commented on #124
love it!

wanna make a pull request to https://github.com/socraticorg/mathsteps-demo with that?

or you can send me your source code and I can start working from there to set up the demo

we (whoever's interested) can then keep working on it to make it prettier and easier to follow :)

[2017-02-20 16:55] evykassirer commented on #128
cooool!

Maybe change 'mathsteps' to 'mathjs', since we can't really take any credit for that parsing

I think the easiest way to see if they can be equivalent is if you can map your math-ast to the equivalent mathjs tree, and then put it through mathsteps and see if it gets the same steps as if you parse directly with mathjs

[2017-02-20 19:34] tkosan commented on #130
I will create a pull request for the multivariate support I am working on after the parser has been changed from mathjs to math-parser.

[2017-02-20 19:40] evykassirer commented on #130
Sounds good, I'll prioritize that then. Depending on how similar the trees can be, it might take a few weeks to move everything over. I'll ping Kevin to clarify next steps

[2017-02-21 00:00] kevinbarabash commented on #128
@evykassirer I've made the requested label change in the demo.  I've also added `evaluateMathJS` which evaluates ASTs produced by `transformMathJS` along with [tests](https://github.com/kevinbarabash/math-parser/blob/master/test/mathjs-evaluate_test.js).  https://github.com/kevinbarabash/math-parser/issues/16 has been fixed too.

[2017-02-21 04:24] evykassirer commented on #128
okay swapped out eval in #135 - is that what you were thinking?

[2017-02-21 04:47] kevinbarabash commented on #128
@evykassirer that's exactly what I was thinking. ^_^

[2017-02-21 04:48] tkosan commented on #124
After I clean up the code a bit I will make a pull request.

[2017-02-21 04:49] evykassirer commented on #128
perfect!

what next?

[2017-02-21 04:58] kevinbarabash commented on #128
I'd like to fix https://github.com/kevinbarabash/math-parser/issues/21 before we start integrating `math-parser`.  Ideally, there should be a `parse` function that can be imported instead of importing a constructor and creating an instance of `Parser`.

After that comes the fun stuff... adding `math-parser` as a submodule, switching over `parse` and `evaluate` and seeing how much stuff breaks (hop

[2017-02-21 06:01] nitin42 commented on #124
I can help with the UI (React JS).

[2017-02-21 10:30] hmaurer commented on #124
What is the goal of this UI? Is it meant as an interface for students to use mathsteps to solve problems (in which case wouldn't this be stepping on Socratic's use-case?), or is it meant as a way for people to explore the raw output of the algorithm? (like http://esprima.org/demo/parse.html, or what @tkosan just did).
-

[2017-02-21 15:29] kevinbarabash commented on #128
@evykassirer https://github.com/kevinbarabash/math-parser/issues/21 is complete.

[2017-02-21 16:15] evykassirer commented on #124
very good question!

I was thinking about this yesterday and ideally we could do both, with different view options

So like, you could see a pretty step by step view (and it's totally fine if it looks like Socratic's use case, the point is that it's open source and anyone could build this)

And then you could have the option to click onto expressions and see what the nodes look like

and it'd also

[2017-02-21 16:26] #126 closed

[2017-02-21 16:30] evykassirer commented on #128
sweet, now the fun stuff

do you want to take a crack at it? it'd be your first mathsteps PR!

another thing I thought of that we'll need is constructors to replace `Node.Creator`

[2017-02-21 16:39] nitin42 commented on #124
Comprehensive Walkthrough 😎  !

[2017-02-21 16:54] evykassirer commented on #129
@hmaurer would you be interested in working on this to finish up #29 ?

If you don't think you have time for it, that's also fine - let me know!

[2017-02-21 20:47] tkosan opened #136 "Purpose of lib/equation/Equation.js"
I am working on cleaning up the code in the demo discussed in #124, and I realized that not having a uniform data structure to return steps in requires separate code to handle the different cases. For example, the steps returned from `solveEquation` use `lib/equation/Equation.js` objects to hold expressions, but the steps return from `simplifyExpression` use `math.expression.node.OperatorNode` obj

[2017-02-22 05:22] evykassirer opened #137 "multiply fractions with parenthesis"
the `multiplyFractions` function doesn't handle cases like this where a fraction is in parenthesis:

- `(2 / x) * x` -> `2x / x`
- `(2 / (4x)) * 4x` -> `(2 * 4x)/4x`

this makes it harder for things to cancel, which means that we can't get #88 working

this would be very helpful to get done soon and I don't think it's too much work 😸

[2017-02-22 05:24] evykassirer commented on #137
another possibility is just getting rid of those parenthesis in `removeUnnecessaryParentheses` because I don't think they're needed around a fraction

[2017-02-22 05:31] evykassirer opened #138 "handle distribution with fractions more smartly"
right now `(3 / x^2 + x / (x^2 + 3)) * (x^2 + 3)` turns into
`(3 / x^2 * x^2 + 9 / x^2 + x / (x^2 + 3) * x^2 + 3x / (x^2 + 3)` which isn't super helpful

I think distribution should check to see if one of the groups we're multiplying contains fractions. If one (not both, not none) is, then multiply the non-fraction term into the numerators of the other term.

so here we'd have

 `(3 / x^2 + x / (x

[2017-02-22 05:36] evykassirer opened #139 "multiply fractions edge case to support cancelling"
there are some cases where we don't want to multiply fractions with other things, one of them is ` 9/2 * x  -> 9x / 2` (since this doesn't change anything and could be considered less readable)

a case we're not handling with the current logic, that *should* multiply is:

`x * 6/x -> (x * 6) / x` (which is needed for cancelling out)

one solution is just to have better cancelling code that doesn't

[2017-02-22 05:41] evykassirer commented on #120
sadly not related, by @Flyr1Q will look into this still :)

[2017-02-22 05:42] evykassirer commented on #136
yeah you're totally right, it's super hacky

it's because mathjs doesn't have an equation node (which I was sad to find out while building this)

once we switch to `math-parser` we can clean up equation code to use the same kind of node as everywhere else

sound good?

[2017-02-22 05:48] tkosan commented on #136
Yes, cleaning up the equation code after the switch to `math-parser` has been made sounds good. I will go ahead and submit a pull request for the demo I wrote and include a comment that indicates the mathsteps API will be changing in the near future.

[2017-02-22 05:48] #136 closed

[2017-02-22 05:52] evykassirer opened #140 "update equation code to have an equation node"
once #128 is done, we can make the equation code a lot nicer

see #126 for some more details, and we can plan this out better once the parser swap is done

[2017-02-22 23:43] kevinbarabash commented on #139
my vote would be for better canceling code.

[2017-02-23 03:27] kevinbarabash commented on #128
I'll give it a go this weekend.  In terms of node constructors, there's a `nodes` object that `math-parser` exports which has functions for create nodes.  Unfortunately, it creates `math-ast` nodes instead of `mathjs`-style nodes.  Since the nodes are just data, we can create them right in `Node.Creator`.

[2017-02-23 05:26] Flyr1Q commented on #120
@evykassirer

[code]

[code]

[2017-02-23 05:32] evykassirer commented on #120
oldNode needs to be updated as it goes up the tree, but it should always be separate from newNode

where do you think it's being changed?

(we can also chat on https://gitter.im/mathsteps-chat/Lobby if that's easier for you than github, but github here is fine as well!)

[2017-02-23 21:23] hmaurer commented on #129
@evykassirer I am a bit busy at the moment but I'll take a look at it next week. How are we going to handle substeps? For example, if an error occurs in a substep, should we have an "error" property on both the step's NodeStatus and the substep? I am not sure how this would look like.

[2017-02-23 21:28] hmaurer commented on #48
With the work being done by @kevinbarabash on https://github.com/kevinbarabash/math-ast maybe we could model systems of equations with the "AND" logical operator at the top level? e.g.

[code]

We would then have tree-rewriting rules like for the rest which handle this type of structure.
I am unsure on how CAS systems do it these days, @tkosan might have insights on the topic.

[2017-02-23 21:47] hmaurer commented on #50
I am inclined to disagree with that. Take Mathematica as an example, they have two functions: "Expand" and "Factor". "Expand" behaves like `simplifyExpression`, and "Factor" is an advanced version of what is being discussed in this issue. However the goal of `simplifyExpression` is not (or is it?) to expand, it is to *simplify*, aka to make it as clear as possible to the student.

With that in min

[2017-02-24 00:18] tkosan commented on #48
This is the algorithm I prototyped in MathPiper for solving systems of equations:
[code]
Currently, the algorithm holds the equations in a list. However, flattening an expression with respect to a binary operator is straightforward, so modeling systems of equations with the "AND" logical operator should not cause problems:
[code]

[2017-02-24 00:39] kevinbarabash commented on #48
@hmaurer I added a `List` node in math-ast with the intent of using it for system of equations or multiple solutions (in the case of quadratic formula).  Unfortunately, it feels to general.  What differentiates a `List` of multiple solutions from a `List` that's a system of equations?

I like that "AND" indicates that all equations need to hold and "OR" indicates that each of the multiple solution

[2017-02-24 03:29] kevinbarabash commented on #48
I've added tentative support for system of equation and sequences to math-parser.  Here are a couple of test cases:
- [2x + 3 = y, x - y = 10](https://kevinbarabash.github.io/math-parser/?math=2x%20%2B%203%20=%20y,%20x%20-%20y%20=%2010&ast=math-ast)
- [a < x < b](https://kevinbarabash.github.io/math-parser/?math=2x%20%2B%203%20=%20y,%20x%20-%20y%20=%2010&ast=math-ast)
- [x/2, x/3, x/4](https://kev

[2017-02-24 04:24] hmaurer commented on #87
You might also want to consider Typescript here. I have used both and they each have pros and cons but it seems Typescript would be more appropriate for this project. It has better editor integration and it is much more widespread, making it easier for new contributors to get started.

[2017-02-24 04:26] kevinbarabash commented on #87
I'm cool with either.

[2017-02-24 04:30] hmaurer commented on #129
@tkosan I wish I had heard of this sooner! I am working on a project with similar issues and it took me a while to come up with exactly this approach (tree positions).

[2017-02-24 04:47] hmaurer commented on #114
I think we should consider "domain tracking" for variables in any context, not just systems of equations. It it often convenient to ask the system to simplify an expression under some assumptions.

Regarding "domain tracking" for variables per se  @sangwinc might have some advice; he has done research on the issue (as far as I understand): https://dspace.lboro.ac.uk/dspace-jspui/bitstream/2134/174

[2017-02-24 05:21] kevinbarabash commented on #114
Cool doc.  Using intersection and union of relations to describe the domain makes sense.  It's interesting that the domains can change as subsequent steps are taken.  Their definition of natural domain is a bit hand wavy since they decide to use Reals as their base field even though Complex would allow for more solutions in some cases.  I would encourage us to to be explicit about which field is b

[2017-02-24 15:26] faheel opened #141 "Typo in project description"
should be

[2017-02-24 16:55] kevinbarabash commented on #141
🎵 day by day 🎵

[2017-02-24 16:55] nitin42 commented on #66
https://gist.github.com/nitin42/4d48b94d682a124e2ea73a77aac73828

[2017-02-24 16:55] nitin42 commented on #66
Here is the gist !

[2017-02-24 18:09] evykassirer commented on #141
Thanks!!

Sadly I don't have permission to change this :(

@aelnaiem can you either up my permissions or fix the typo? Thanks :D

[2017-02-24 19:12] evykassirer commented on #129
well, each `substep` is itself a `NodeStatus`, so we can just say that any `NodeStatus` can have an 'error' property.

So if an error happens, we'd want to return early from generating the list of substeps instead of continuing to try other operations. It might be a bit annoying to have to remember to do this anytime we generate substeps though - maybe there's a better way.

Also I think we'd have

[2017-02-24 19:15] evykassirer opened #142 "changeGroups vs tree positions"
we use `changeGroups` right now to show what part of a tree has changed

@tkosan:

tree positions have been brought up a few times, so let's discuss them more here - what are their pros/cons vs changeGroups?

[2017-02-24 19:15] evykassirer commented on #129
tree positions look neat - I'm not sure what their benefit over changeGroups are, or if changeGroups have benefits over tree positions.

maybe we can open another issue to talk about this #142

[2017-02-24 19:16] evykassirer commented on #50
I think your message got cut off

that's a good point. it's hard to know what form a student is looking for, but adding factoring at the end is definitely something we can consider doing, or adding as an option parameter or something

[2017-02-24 19:19] evykassirer commented on #87
edited the issue to reflect what we're talking about better

yeah @hmaurer that makes sense. I'm not super familiar with either, but if they both do a good job and typescript is more common that sounds like a good reason to use it :)

[2017-02-24 19:25] evykassirer commented on #66
cool :)

I think we can use tags and releases instead of Change logs

the rest looks good so far - are you going to fill in the missing pieces? I can help with anything you don't know about

[2017-02-24 19:26] nitin42 commented on #66
Example?

[2017-02-24 19:26] evykassirer commented on #66
example of what?

[2017-02-24 19:57] hmaurer commented on #129
@evykassirer one benefit of tree positions would be that you don't actually modify the AST of an expression, you "point" at a node in the structure.

[2017-02-24 19:59] evykassirer commented on #142
@hmaurer :

[2017-02-24 20:01] hmaurer commented on #142
@evykassirer Also, tree positions are more general. Change groups are a subset of the cases where tree positions could be applied.

[2017-02-24 20:03] evykassirer commented on #142
true! errors aren't really "changes" anyways

are there other cases you can think of in mathsteps where it'd be handy to use tree positions?

I guess a nodestatus would have a treePosition list of changed nodes then, yea?

[2017-02-24 20:06] hmaurer commented on #142
@evykassirer yah that sounds right. Errors too, to point at the node which caused the error. I am not sure about other uses in mathsteps but on one of my pet projects, a first-order logic derivation engine, I used tree positions to "point" at a variable in an expression to get scoping information. For example, given `forall x Px -> Q`, if the user hovers "x" it will ask the engine where "x" is bou

[2017-02-24 20:23] nitin42 commented on #66
ehn.. Nothing! I'll let you know ..

[2017-02-24 21:12] tkosan commented on #142
Tree positions are also used in MathPiper to "point" to subexpressions in an expression. Some use cases include identifying a subexpression to highlight, locating the subexpression that was clicked on in a view of an expression, and identifying a subexpression to apply a rewrite rule too. Here are some additional examples that use tree positions:

[Expression tree](http://patternmatics.org/mathste

[2017-02-25 05:01] kevinbarabash commented on #142
Something to note, both the current mathjs nodes and the proposed math-ast nodes have node specific properties which need to be referenced.  In practice, using tree positions (or paths) would using strings (for properties) in addition to numbers (for arrays) to specify the location of a node in a tree, e.g. given:
[code]
The path to reference the SymbolNode representing "x" would be
[code]

[2017-02-25 11:34] hmaurer commented on #142
@kevinbarabash that seems reasonable. @tkosan what do you think?

[2017-02-25 16:37] evykassirer commented on #142
"content" doesn't really have indices, but there's only one child so you could say "0"

I'd prefer to be explicit though, I think it's easier to read

[2017-02-25 17:28] kevinbarabash commented on #142
@hmaurer I agree that using only indices are cleaner, but I don't think that's a viable option moving forward.  As we add more functionality to mathsteps we'll have to deal with nodes that have named properties that we have to traverse.  As an example, [Number](https://github.com/kevinbarabash/math-ast/blob/master/spec.md#number), as specified in math-ast (still a work in progress), has `value` an

[2017-02-25 19:00] hmaurer commented on #133
What about functions? For a built-in function like "sin" it is easy to parse `sin(x)` properly, but what about non built-in functions? Also what if the student makes a typo, e.g. `si(x)`? Should that parse as `s * i * (x)`?

[2017-02-25 19:03] evykassirer commented on #133
mathjs parses any string followed by a ( as a function call, so x(y + 5) treats x as a function name. for multiplication you'd have to do x*(y+5).

not sure what we want to do for our parser - probably the same? ideally we could parse from latex

[2017-02-25 19:07] hmaurer commented on #133
@evykassirer Mmh yeah that makes sense I think! What about "numbered" variables? e.g. `x1`, `x2`, etc. Would we also special-case this so that it parses as a single identifier?

[2017-02-25 19:08] evykassirer commented on #133
yeah, any numbers following a letter would be included in the symbol name

(I believe mathjs does this as well)

[2017-02-25 19:24] tkosan commented on #142
@kevinbarabash tree positions aren't meant for accessing all of the detail that is in an AST. For example, tree positions can be used by teachers when teaching students about expression trees, and these conversations are at a higher level than how the tree is implemented in a given program.
In the case of a Number, a tree position value would be able to identify its position in a tree, but since a

[2017-02-25 19:26] kevinbarabash commented on #133
math-parser parses multiple character identifiers include those containing digits.  We may also want to support variables with subscripts, e.g. `x_1, x_2, ... x_n`.  I've accounted for subscripts in [Identifier](https://github.com/kevinbarabash/math-ast/blob/master/spec.md#identifier) nodes, but haven't implemented the parsing yet.

[2017-02-25 19:29] tkosan commented on #142
I meant to write "Can you provide an example of a node that is not a leaf node to illustrate your point _that is not a ParenthesesNode_?"

[2017-02-25 19:30] evykassirer commented on #133
cool stuff!

[2017-02-25 20:00] kevinbarabash commented on #142
@tkosan I didn't realize that "tree positions" were something that would be communicated to users.  I definitely wouldn't want to expose internals of the AST to users.

My understanding of change groups is that their main use is internal for referring to nodes within the tree.  Since tree positions can't access all nodes in the AST it seems like they're not a good fit for replacing change groups.

[2017-02-25 21:47] hmaurer commented on #129
Ok, so let's recap this before implementation:

- Add `ChangeTypes.ERROR`
- Add `ErrorTypes` enum

When an error occurs, the step would look like this:

[code]

Does this make sense? Or should `errorType` replace `changeType` in the case of an error? e.g.

[code]

[2017-02-25 22:06] hmaurer commented on #140
`math-parser` will introduce a nice unified system for equations and simplifications. From what I gather there will be relation nodes (equal, less than, etc) which will model equations. There will also be `all` and `any` nodes to model a list of equations where all/any must hold. We will then be able to rewrite `solveEquations` as a function that takes a `all` node where all members are relations,

[2017-02-25 22:09] hmaurer commented on #67
When are new parents generated? I don't quite get this.

[2017-02-25 23:48] kevinbarabash commented on #140
I ended up making a `System` node to model systems of equations.  This avoids having to check two properties to determine if it's a system of equations (or inequalities).

I'd like to migrate mathsteps to use nodes from math-ast before introducing an equation node (aka [Relation](https://github.com/kevinbarabash/math-ast/blob/e97021ef4ed9af927508c21f40e1abc816ecb159/spec.md#relation)).

[2017-02-26 00:22] kevinbarabash opened #145 "use exceptions for exception cases"
`PolynomialTerm.isPolynomialTerm` uses the fact that the `PolynomialTerm` constructor throws if the node passed isn't a polynomial term.  `isPolynomialTerm` should contain logic to do the check without throwing and `PolynomialTerm` should call that function and throw.  This will improve the debugging situation.  Currently, breaking on all exceptions produces a lot of false positives.

[2017-02-26 00:24] evykassirer commented on #145
agreed! that logic is pretty weird

thanks for pointing it out :)

[2017-02-26 00:47] kevinbarabash opened #146 "run test code inside of `it` block"
mocha runs all `describe` blocks and queues up all closures passed to `it` to be run later.  Currently, we're running test code outside of the `it` block so it runs before the `assert` which gets run at a different time.  This makes debugging tests really hard.  See https://github.com/socraticorg/mathsteps/blob/master/test/solveEquation/solveEquation.test.js#L8-L21 for an example of what I mean.

[2017-02-26 00:58] tkosan commented on #142
@kevinbarabash

CASs usually relate values to units using a function or an operator so these parts of a tree can be manipulated by rewrite rules. For example, Mathematica uses a [function named `Quantity`](http://reference.wolfram.com/language/ref/Quantity.html) to indicate this relation, and Maxima's ezunits package uses the [` operator](http://maths.cnam.fr/Membres/wilk/MathMax/help/Maxima/maxim

[2017-02-26 02:59] evykassirer commented on #146
omg yes I was noticing this but wasn't sure how to fix it

what do we need to do to fix it?

in this example would it be to move `it(equationString + ' -> ' + outputStr, (done) => {` to line 9?

if so, we can just make this an "easy" tagged issue, seems like a good first change!

[2017-02-26 03:04] evykassirer commented on #140
agreed, let's get it working with what we have, then slowly add functionality that math-ast can support :)

[2017-02-26 03:05] kevinbarabash commented on #142
@tkosan thanks for the detailed response.  My experience with ASTs is primarily with JavaScript ASTs so it's great to see how CASes structure things.

I like the idea of a `Quantity` node instead of including units in a `Number`.

I really like the succinct re-write rules.  Being able to use the same syntax to define an AST chunk for matching makes a lot of sense.  https://github.com/Khan/structur

[2017-02-26 03:09] kevinbarabash commented on #146
It should look something like this:
[code]

The `done` is only necessary when there's async code inside the test.

[2017-02-26 03:11] evykassirer commented on #129
it should be similar to a `NodeStatus`, so it would still have a changeType (I think having one called ERROR is good) and a newNode and oldNode (which would just be the same, both the 'old' node)

 I think we should probably implement tree positions separately from this change - right now you could probably just use changeGroups, or wait for tree positions to be added before making this change

I

[2017-02-26 03:19] evykassirer commented on #146
yeah someone added `done` earlier and idk much about it - so let's take it out then

sounds like a good change for someone new to the codebase then :D woo

[2017-02-26 03:21] evykassirer commented on #67
there aren't new parens, but rather sometimes parens stop being helpful

e.g. `(2 + 3) * 10` => `5 * 10`, not `(5) * 10`

so we get rid of parens that aren't necessary anymore after each step

[2017-02-26 03:37] kevinbarabash commented on #67
math-parser parses `(2 + 3) * 10` to `( '*' ( '+' 2 3 ) 10 )` which has no parens in the AST.  The parens should only show up when necessary when rendering to a string or to TeX.  It looks like we're creating parens in a lot of places we probably shouldn't be.

[2017-02-26 03:40] evykassirer commented on #67
oh, yeah the tree without as mnay parens and better printing function will make it way easier to not worry about parenthesis sweeet

though sometimes we'll still want them for pedagogical reasons (e.g. `(2 + 3) + (x + y)` to show grouping)

[2017-02-26 03:49] kevinbarabash commented on #67
Even in the case of `(2 + 3) + (x + y)` there won't be any `Parenthesis` nodes, b/c it parses to:
[code]
TBH, the only time we need a `Parenthesis` node is if we want to show `x + (0) = (1)` in:
[code]

[2017-02-26 04:41] evykassirer commented on #67
I'm wondering if we'd ever need to reflatten the tree midway, or if we can get by with the original structure of the tree and the manipulations along the way

[2017-02-26 12:00] hmaurer commented on #129
@evykassirer I don't think it makes sense to have a newNode in case of error. Also I am not sure about what you are saying regarding try catch. It might pose an issue with substeps, I'll check the code. It might be better to wait until tree positions (or similar) are implemented before working on this?

[2017-02-26 12:06] hmaurer commented on #140
@kevinbarabash Are you sure that's the way to go? It seems that adding nodes which are just "verified" versions of other nodes generates extra complexity for little benefit. I don't see a problem with a system being represented as

[code]

[2017-02-26 14:49] evykassirer commented on #145
I think the reason I did this is that they pretty much share all the same logic, which results in a lot of code duplication. Do you think it's worth that code duplication to raise errors in the logical places?

[2017-02-26 17:22] kevinbarabash commented on #140
@hmaurer I couldn't think of another use for an `All` node beyond using it for system of equations.  If it's only used for system of equations then calling it that makes the intention clear.  Also, I found `All` to a bit ambiguous.  Does it mean that all of the equations must be satisfiable?  If so, there are systems of equations where that isn't true.

[2017-02-26 17:31] kevinbarabash commented on #145
After looking at it more careful, I'm not sure how not duplicate logic without the try-catch.  It's probably best not to duplicate the logic.

[2017-02-26 17:31] #145 closed

[2017-02-26 17:33] evykassirer commented on #142
I'd like to be able to use positions/changeGroups to highlight parts of expressions/equations that change in each step, or to highlight the part of the input that caused an error (like dividing by 0) -- as a pedagogical tool. Changegroups are already being used for this in Socratic's app.

is this if we only use indices? it's possible if we use the param/index combination right?

Also, I do like t

[2017-02-26 17:40] evykassirer commented on #129
yeah, it's hard because generally we use `newNode` to print the step, and we'd want to print it saying there's an error probably

an alternative is to set `newNode = null` when `changeType = ChangeTypes.ERROR`, and then be sure to refer to the `oldNode` to see what's causing the error

we can chat about the try catch a bit more if you want - I'm finding it hard to describe it clearly, but maybe we

[2017-02-26 17:42] evykassirer commented on #33
this has gotten more complicated with #129  (sorry for being misleading!)

BUT once that's all done, this will still be a nice small change. I'll just add the "blocked" label to wait until #129 and #29 are done :)

[2017-02-26 17:44] evykassirer commented on #29
**UPDATE**: now related to #129 -- let's use it as the first error that we implement with the new error structure

I removed the small label, since this is more complicated now

[2017-02-26 19:35] kevinbarabash commented on #142
Using the param/index combo will allow us to reference any part of an AST that has named properties.

[2017-02-26 19:37] hmaurer commented on #142
@kevinbarabash Yeah. The intent is different than tree positions but it would suit this project. Basically we are talking about pointers into a javascript object. Sounds good to me!

[2017-02-26 20:39] tkosan commented on #142
@kevinbarabash

I was excited to see that `structuredJS` implements a significant part of a full CAS-style pattern matcher. MathPiper's pattern matcher is based on a subset of the [Wolfram Language pattern matcher](https://reference.wolfram.com/language/guide/Patterns.html) (which provides a good example of what pattern matching is capable of). I also use pattern matching to assess student code wh

[2017-02-26 23:36] kevinbarabash commented on #146
@evykassirer can you assign this to me?  I'm fixing it as part of the math-parser work.

[2017-02-27 00:21] hmaurer commented on #140
@kevinbarabash Mmh I can't think of another use of `All` within the scope of mathsteps either, but I can think of uses for `Any`, e.g. when solving equations involving absolute values. I quite like the `All` - `Any` pair, but you make a good point.

And yes regarding "all equations must be satisfiable". Isn't that a good semantic for it? Solving a system of equations is then asking "can you find v

[2017-02-27 00:59] lexiross commented on #138
Hey @evykassirer - this one looks cool. Doing some digging now (and refreshing my algebra skills, lol)...

[2017-02-27 01:01] evykassirer commented on #138
really hope what I wrote actually covers the cases well haha XD

and if it does, I think this change will be really great

thanks for taking it on :D

[2017-02-27 01:10] lexiross commented on #138
Okay, I'm gonna try to rephrase to make sure I'm understanding right:

Given `(a + b) * (c + d)` where `a` or `b` or both are expressed as fractions, but `c` and `d` are _not_, instead of distributing them using the FOIL method (`a*c + a*d + b*c + b*d`), treat `(c + d)` as one term, so it would look like `a*(c + d) + b*(c + d)`.

is that right? Also, if only `a` or only `b` is a fraction, should t

[2017-02-27 01:15] evykassirer commented on #138
almost! (at least, in what I was thinking)

If only `a` or only `b` yeah I think it should still apply.

I would say if `a` or `b` is a fraction, and both `c` and `d` are not fractions, we'd not do FOIL (as you said)
and instead  treat `(c+d)` as one term (like you said), but move it into the numerator of any fractions

e.g.

`(a/x + b/y) * (c + d) => (a*(c+d))/x + (b*(c+d))/y`

`(a + b/y) * (c +

[2017-02-27 01:17] lexiross commented on #138
Oh yeah, that makes sense! :)

[2017-02-27 01:19] evykassirer commented on #138
yay - thanks for helping us clarify!

[2017-02-27 01:58] lexiross commented on #138
@evykassirer one more question before I dive in - does this seem like a reasonable place to add this logic? https://github.com/socraticorg/mathsteps/blob/master/lib/simplifyExpression/distributeSearch/index.js#L177

I was thinking of checking whether this new case applies before the `if` on line 180, which would become an `if else`. The only thing I'm a bit confused about is that intermediate step

[2017-02-27 02:31] evykassirer commented on #138
yes! that looks like a good place

oh good point - I forgot about this being more general. The distribution code handles multiplying together _any_ two list of terms - so it could do `(a+b)(c+d)` but also can do `a(b+c)` and `(a+b+c+d)(e+f)`

the general case of this rule, I think, is if _one_ of the sums has fractions and the other one doesn't

also note that `(c + d) * (a + b/y)  => (c+d)*a + ((

[2017-02-27 02:55] tkosan commented on #142
@evykassirer

This is interesting because in #138 I just saw you create the following rewrite rules without even breaking a sweat:
[code]
It only took about two minutes to convert these into executable rewrite rules (`/:` means "apply rules to an expression"):
[code]

[2017-02-27 03:02] evykassirer commented on #142
haha nice - sometimes it's hard to tell the difference between my finding something intimidating because I don't know it yet, and it actually being confusing

thanks for explaining that! I'd be open to playing around with changing how mathsteps applies rules, though I have a feeling that'd be a pretty bit change - is that true?

[2017-02-28 00:25] tkosan commented on #142
@evykassirer

Yes, it would be a big change, but it might be possible to do it in phases with rewrite rules that are implemented imperatively (like they are now) being used alongside the CAS-style rewrite rules for awhile. However, before playing around with implementing CAS-style rewrite rules in mathsteps, it would probably be a good idea to play with them in a CAS a little bit to see if they ar

[2017-02-28 02:00] evykassirer commented on #142
sounds like a good idea!

I'd love to see a tutorial - seems like a great resource in general anyways :)

[2017-02-28 19:01] lexiross commented on #138
@evykassirer submitted a PR along those lines ^ let me know how that looks!

[2017-03-04 00:53] hmaurer commented on #141
@evykassirer @aelnaiem How is this going? The list of opened issues is growing; let's try to close some up :-)

[2017-03-04 00:55] hmaurer commented on #87
@evykassirer I think we can close this for now; it's probably not something that will be implemented in the near future (following month or so) and it might be clearer if open issues actually correlate to things being worked on. Maybe we could have a list on the wiki of "long term goals" and open issues for them once we actually start work on one of them?

[2017-03-04 01:08] hmaurer commented on #132
I know **nothing** about CAS systems, but could we possibly use some form of pathfinding algorithm coupled with a heuristic? It seems to make sense to consider a graph of all mathematical expressions understood by the system, with edges for operations that do not change the value of expressions. Then the problem of checking whether two expressions are equal boils down to finding a path between the

[2017-03-04 04:13] evykassirer commented on #141
ah, ahmed fixed it - great!

[2017-03-04 04:13] #141 closed

[2017-03-04 14:14] hmaurer commented on #87
Relevant: https://dev-blog.apollodata.com/javascript-code-quality-with-free-tools-9a6d80e29f2d#.mfe1gsx20

[2017-03-04 20:04] tkosan commented on #132
@hmaurer, the CAS community developed algorithms a long time ago for determining if two expressions are equivalent. A standard approach is to simplify both expressions to a canonical form, and then compare these forms syntactically.

If the ultimate goal of the `mathsteps` project is to simply model the ad hoc process that "school math" teaches for solving cherry-picked math problems, then determi

[2017-03-06 00:25] evykassirer commented on #87
I think it's worth keeping open and tagging with 'long term goals' as it is right now, so that there can be discussion on it (like what you posted yesterday!)

If people want to find things to work on, I hope they can filter out things with the long term label on them. Does that seem reasonable?

Thanks for looking through these and helping clean things up :) I'm also a fan of checking things off

[2017-03-14 18:28] nitin42 commented on #87
Should I try Flow ? and see how it goes ?

[2017-03-14 19:21] evykassirer commented on #87
I think we were considering TypeScript instead. We should probably make an educated decision before going forward with one. If you can implement typed javascript in some files but not others, you could try it out for a file or two to see what it would look like :)

[2017-03-14 19:32] kevinbarabash commented on #87
We should probably hold off until https://github.com/socraticorg/mathsteps/pull/144 lands.  Sorry for dragging my feet with that.  Definitely encourage experimentation though.  :)

[2017-03-16 09:12] nitin42 commented on #87
This may help https://github.com/Microsoft/TypeScript-Handbook

[2017-03-30 15:59] #70 closed

[2017-03-30 16:09] aelnaiem commented on #50
There's a new pull request for exposing factoring
https://github.com/socraticorg/mathsteps/pull/148

[2017-03-30 16:28] aelnaiem commented on #45
I think this should be done within the context of the problem. So in simplifications, it should expand, and in the case of solving an equation, and the variable being solved for is in the root, then we square both sides. Seems like a decent first approach at this problem.

[2017-03-30 16:32] #96 closed

[2017-03-30 16:37] #90 closed

[2017-03-30 16:43] aelnaiem commented on #113
Can we close this issue and make a new one that clearly explains what needs to be done here. I'm not sure what @shirleymiao's PR already fixed and what hasn't been fixed yet.

[2017-03-30 16:50] aelnaiem commented on #132
@tkosan What would using a state of the art system entail?

[2017-03-30 16:51] aelnaiem commented on #133
Going to close this issue because it seems resolved :)

[2017-03-30 16:51] #133 closed

[2017-03-30 16:55] aelnaiem commented on #142
Is transitioning to the param/index approach blocked by anything or can someone pick that up?

[2017-03-30 16:57] aelnaiem commented on #138
This seems to have been completed a while ago! Going to close the issue :)

[2017-03-30 16:57] #138 closed

[2017-03-30 16:57] evykassirer commented on #142
I don't think it's blocked! Unless it'd be a lot easier with the new parse tree and we want to wait for then

[2017-03-30 16:59] evykassirer commented on #96
I think we could still make a bunch of example tests that we'd like to eventually support - so maybe keep this open?

[2017-03-30 17:00] aelnaiem commented on #96
Hmm, that's fair but I'd rather they be associated with specific issues

[2017-03-30 17:06] evykassirer commented on #133
(resolved as in it'll be eventually handled in `math-parser`?

[2017-03-30 17:45] aelnaiem commented on #133
Yes

[2017-03-30 17:51] aelnaiem commented on #139
I agree with @kevinbarabash, let's improve the canceling code so it handles this case

[2017-03-30 17:53] evykassirer commented on #139
I'd love for that to happen :) just haven't had the time to figure out the best way for that to work

[2017-03-30 17:54] aelnaiem commented on #142
Sounds great! Going to remove the tag :)

[2017-03-30 17:55] evykassirer commented on #142
we might need discussion on how it's going to be implemented though, since we haven't had any design discussion on how tree positions fits into the mathsteps data structures (I think)

[2017-03-30 18:51] evykassirer commented on #146
@kevinbarabash do you want to do this separately since you closed your PR?

[2017-03-30 18:57] evykassirer commented on #128
from #144:

[2017-03-30 19:13] evykassirer commented on #124
@nitin42 is working on this now btw :)

[2017-03-30 21:39] tkosan commented on #132
@aelnaiem

It would entail including a conventional CAS such as [Algebrite](http://algebrite.org/) in MathSteps as a library or at least including the part of a conventional CAS that is able to simplify expressions to a normal form which can be compared syntactically.

[2017-03-31 18:53] aelnaiem commented on #132
Cool! That's pretty clear

[2017-04-03 04:25] tkosan commented on #132
@aelnaiem I spent some time this weekend looking at JavaScript CASs, and so far I think [Algebrite](http://algebrite.org/) is the most promising candidate for possible inclusion in mathsteps. It can solve the "telling if two expressions are equal" problem that is discussed in this issue, and it would also be useful for testing various parts of mathsteps such as equation solving, simplification, fa

[2017-04-04 08:56] sebastianalbert opened #150 "Multiplication/division for powers"
Hello community!

I played around with mathsteps and noticed that it does not yet support multiplication and division for powers where the base is an integer, while it supports it if the base is a variable.
E.g x^3 * x^2 -> x^(3+2), works fine but 10^3 * 10^2 -> 1000*100 instead of 10^(3+2).
This gets more and more unpedagogic as the exponents gets larger.

Does someone want to take a look at it?

[2017-04-05 03:36] evykassirer commented on #150
ooo great find and probably an easy fix! I think `COLLECT_EXPONENTS` is fine, since the logic is the same for both.

would you like to take a stab at it? I'm happy to help you navigate the codebase if you need anything :)

thanks so much!

[2017-04-05 05:52] sebastianalbert commented on #150
I will take a look at it! :) I'll ask if I need help!

[2017-04-05 22:58] evykassirer commented on #150
sweet!

okay I was thinking about this some more and there's one thing I thought of:

there's an order of which simplifications are applied before others. right now arithmetic (e.g. 10^3) gets simplified (ie evaluated) before the x^3 * x^2 -> x^(3+2) step is tested (I believe that one is collect and combine like terms)

let me know if you have questions about that or about how any of that code wor

[2017-04-06 01:39] kevinbarabash commented on #146
@evykassirer sure... it was a pretty easy change.  Can you assign me?

[2017-04-07 20:23] elu00 commented on #87
Hi all,
Since TS is a superset of JS, shouldn't migrating to TS simply integrating the TS compiler? [According to this documentation page,](https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html) all migration involves is literally just changing the file extension, since static types are actually optional.

[2017-04-10 19:28] evykassirer commented on #87
thanks to @elu00 for this great progress:

https://github.com/elu00/mathsteps-ts

[2017-04-12 14:57] sebastianalbert commented on #150
Yes, I also noticed this! I've fixed the other parts but it gets stuck at arithmeticSearch because of the evaluating. I need to somehow return "Node.Status.noChange(node)" if it is possible to simplify the expression by adding the exponents. The problem is that the postOrder treeSearch gives me the node "10^2", if the whole expression is "10^2 * 10^3". Since we only get this small part of the whol

[2017-04-12 16:14] evykassirer commented on #150
yeahh this might require some fooling around in re-deciding priorities of changes

one option is to make a separate tree search that collects exponents on constants and run that before the arithmetic search

The easier option that might not work is that if you added the constant code to the symbol code (i.e. `10^2 * 10^3` is handled in the same place as `x^2 * x^3`) just move that whole tree searc

[2017-04-12 16:17] evykassirer commented on #64
@kevinbarabash do you know if this issue is fixable before the new tree? or should we have it blocked on that

[2017-04-12 16:19] evykassirer commented on #72
@emars still wanna tackle this?

(if you're not free/interested that's fine -  we can open it up as a good first issue for newcomers)

[2017-04-12 16:21] sebastianalbert commented on #150
Yeah, this was what I was thinking too, just havent tried it yet haha.

I will give the tree search thing a try and see if anything else breaks, thanks!

[2017-04-12 16:22] evykassirer commented on #150
sweet! we're on the same page

let me know how it goes :)

[2017-04-13 03:15] kevinbarabash commented on #64
@evykassirer I think this will be easier to tackle afterwards if we want to use fraction.js.  If we're okay with marking values as approximate then we could probably add that to the current system without to much effort.  It wouldn't be an extra prop we'd have to copy whenever evaluating values.  If any operand is marked as an approximate value than the result of the operation involving that opera

[2017-04-13 07:21] sebastianalbert commented on #150
It worked! So now it seems to work for powers with numbers as base, for multiplication. I will push it to my own branch and you can have a look at it.

[2017-04-13 08:22] sebastianalbert commented on #150
Hmm, seems like I can't create a new pull request for some reason. It says permission is denied when I try to push.

[2017-04-13 15:57] evykassirer commented on #150
oh, yeah you have to do it from your own fork. I see you figured it out though :D

[2017-04-16 08:20] eltonlaw commented on #76
Hi, if there's nobody working on this currently, could I take it?

[2017-04-17 00:08] evykassirer commented on #76
Yes! I'd love to get this stuff into mathsteps.

It's definitely a more open ended problem, so starting with what I described sounds good, and I can take a look and then we can discuss from there? Happy to help if you have any questions about the code or how the new steps will work

And I'm definitely down to brainstorm further things than the case above if you want someone to bounce ideas around

[2017-04-17 00:20] evykassirer commented on #64
I'll leave this as blocked for now then, and if the tree is taking a while or there's less work to be done elsewhere, I'll open an issue for that solution in the meantime :)

Thanks!

[2017-04-17 15:59] eltonlaw commented on #76
Hi, awesome, yes please can we brainstorm a bit?

I'm a bit stuck on the rule formulation though, how general would you like this rule to be? Like the main idea is by adding a new term we should be able to partially factor the equation into an integer right? It makes sense for linear variables, but would we want to extend that to n >=2 ? Like would this be the proper course of action: (2x^3+ 2)/(x

[2017-04-18 11:21] OmarTawashi opened #157 "How to solve question steps by steps using mathsteps"
Welcome
How to solve question steps by steps using mathsteps
whats is the steps to enter parameter in classes of this library please is necessary ??

![fgstfsdrfsd](https://cloud.githubusercontent.com/assets/9048325/25128370/31a85450-2442-11e7-958c-a3a1f40f7718.png)

[2017-04-18 14:36] nitin42 commented on #157
Can you elaborate it a bit further ?

[2017-04-18 16:19] aliang8 commented on #76
Hi! I think that "breaking-up fraction" is not necessarily the feature that we want in mathsteps. It really doesn't serve much purpose. Instead, I agreed that we should implement the suggested change. This, however, is called "polynomial division" and is a much more useful functionality.

@eltonlaw I think this rule should cover all x^n. However, your implementation only deals with the cases when

[2017-04-18 17:21] evykassirer commented on #157
Hi @OmarTawashi I'm not sure what you're asking - could you rephrase?

The screenshot there is from mathpapa and not from our own library

[2017-04-18 17:22] evykassirer commented on #76
sorry I seem to have caught a bad cold and also have an exam Friday morning - but later today or tomorrow I'm hoping to reply to this, sorry for the delay!

lots of interesting things to think about :)

[2017-04-18 20:39] evykassirer commented on #76
okay hi!

One thing to note before going forward is that we don't have the kind of factoring set up (yet!) that we might sometimes want to cancel stuff out in complicated fractions, and that could affect this

I like the idea of starting with only x^1 (just so we get some code out there and don't write all the code all at once)

...and then expand to x^n where the top and denominator have the same

[2017-04-19 04:14] eltonlaw commented on #76
@aliang8 Good point. Hmmmm.... Okay yeah, I agree with @evykassirer, I'll just write something for the original x^1 case so we actually have something to talk about. Uhh gimme a bit, I'll start working on this after my exam tomorrow.

[2017-04-19 04:37] evykassirer commented on #76
sounds good! I'll take a look after my exam Friday ;D

[2017-04-21 03:31] eltonlaw commented on #76
Hi, the solution solve the above problem, but some parts are a bit hardcoded. For example, I just did:
`newNumerator.push(denominator);`
which doesn't account for the number of times that the denominator can be found in the numerator (i.e. (4x+4)/(2x+2)) cause I didn't know how I would approach finding that. Once we get that though, it should be easy to separate it in the same way.

[2017-04-21 03:47] aliang8 commented on #76
That's a great start @eltonlaw ! At this point, if you have extra time, I feel like maybe you could expand this to include x^n case. However, it would be even better if you could jump ahead and take a stab at polynomial division. That would be really helpful!

If you have any suggestions as to how to implement it, feel free to chat me up and we could bounce around some ideas. :)

[2017-04-21 10:59] evykassirer commented on #76
Please keep just the first case until after it goes through code review :) that way if we decide you should do something different you don't have to update everythhhhing

[2017-04-21 11:07] evykassirer commented on #76
Can you explain a bit more what you mean? Are you having trouble finding how to split up the numerator to match the denominator?

I think it'd be approximately this

1. Find highest order term
2. Compare exponents to make sure both 1 (i.e. No exponent)
3. Compare coefficients for top and bottom
4. Add and subtract `(bottom - top) * symbol` from the numerator
5. Resolve the addition but split out t

[2017-04-22 10:42] aliang8 commented on #87
What I gather through a little bit of research:
    Background (hehe idk):
        Typescript: Microsoft, inspired by C# or Java type systems
        Flow: Facebook, written in OCaml
    Porting:
        Change extension for TS from .js to .ts
        add @flow annotation on top of the file that you want to be checked
    What it does and general notes:
    TS includes a type checker AND has a tra

[2017-04-22 11:06] nitin42 commented on #87
Bad error messaging is due to poorly configured `.flowconfig`.  I've been through this. For example -

[code]
In the above example I've included the dependency `styled-components` in the `[include]` section because I am also type checking the styled components in my library. So I need to tell Flow that include this dependency also (else it would give daunting errors). Here the author of `styled-co

[2017-04-22 11:10] nitin42 commented on #87
One more thing, as @kevinbarabash is working on the new parser, I was thinking that it may help (me or someone else) to include the support for Flow in mathsteps. So If a developer is using mathsteps directly or we expose the api for the new parser in future, we should definitely include support for both Flow and Typescript. ?

[2017-04-22 14:58] kevinbarabash commented on #87
The parser I'm working will have a different AST structure.  As part of that work I'm adding a rule rewriting system.  This will allows changes to be defined as strings of math with placeholders, e.g.
[code]
You can follow that work at https://github.com/kevinbarabash/math-parser/issues/27.

I think that having a system like this will simplify the existing search/transform functions substantially,

[2017-04-23 03:05] evykassirer commented on #87
opinion from kevin on gitter:

[2017-04-23 03:10] evykassirer commented on #87
it seems like it would be a good idea to wait for Kevin to make more progress until we start implementing typed javascript (adding blocked to the tags) - though we can keep talking about it, and if someone thinks there'd be benefit in adding it now I'm definitely open to talk about it

there are some other issues open for bugs and functionality that seem like a better place to put focus on for now

[2017-04-24 20:56] aliang8 commented on #76
Hi @eltonlaw and @evykassirer,
I found a really cool approach to long polynomial division that I would like to share with the two of you. It's super intuitive, pedagogical, just like how we would normally do long division.

The pseudocode is here: https://rosettacode.org/wiki/Polynomial_long_division#Python

Basically, it represents the polynomials as vectors such that the i^th element keeps the c

[2017-04-26 11:33] salumsinare commented on #157
can i use mathsteps to solve polynomials and calculus problems if true how

[2017-04-26 14:43] aliang8 commented on #157
Hi @salumsinare,
Glad you asked! Currently mathsteps only supports arithmetic and basic algebra. This applies to polynomials also. You can also factor and simplify polynomials, but that's about as far as it gets. However, we are working towards implementing more complex operations and calculus is definitely on our todo list. Make sure to join the mathsteps gitter discussion to learn more about our

[2017-04-26 17:39] evykassirer commented on #157
no to calculus, yes (most of the time) to polynomials

if you give me an example of a problem? and I'll let you know how you can use mathsteps with it

[2017-04-27 12:24] salumsinare commented on #157
@evykassirer
Here is the problem i tried to solve
x^2+3x+2=0
so far it gives me x^2+3x=-2

[2017-04-27 17:27] evykassirer commented on #157
ah! yes that requires factoring - factoring quadratics is actually all coded up and ready to go but not merged or deployed yet.

Do you need it soon for something or were you just playing around with it? If you'd like to be able to use that functionality soon, I can prioritize getting it ready :)

[2017-04-28 00:37] kevinbarabash commented on #157
@salumsinare it looks like only certain forms of quadratics are handled at the moment, see https://github.com/socraticorg/mathsteps/blob/master/lib/ChangeTypes.js#L179-L183.

[2017-04-28 00:46] evykassirer commented on #157
#148 added some coverage on top of that too, though didn't actually add anymore changetypes

[2017-04-28 06:42] salumsinare commented on #157
@evykassirer  i don't need it that soon but i was just working on a project that requires such functionalities plus calculus

[2017-04-28 07:23] salumsinare commented on #157
is there a way to detect the nature of an expression/equation based on mathematical topic or concept and the general method/formula to solve it (if it exist) before actually solving it
if i enter to solve  x+2=0 it gives something like **linear equation**
and if i do   2x+3<0 it gives inequality

[2017-04-28 14:26] aliang8 commented on #157
Yup, all we would have to do is scan the expression for those specific relation nodes (<, =, >). From that we can determine whether it is an expression, equation, inequality, etc.

[2017-04-28 16:40] evykassirer opened #160 "Add a function for printing equations in LaTeX"
We can print equations to asciimath, but there's no one function call for LaTeX.

It would live in https://github.com/socraticorg/mathsteps/blob/master/lib/equation/Equation.js below `print` and look like:

`this.leftNode.toTex() + this.comparator + this.rightNode.toTex()`

[2017-04-28 17:18] elu00 commented on #160
If we particularly wanted to, there is an [npm module](https://www.npmjs.com/package/asciimath-to-latex) just for conversion between the two.

[2017-04-28 17:20] evykassirer commented on #160
Ah, cool find!

MathJS's toTex function is probably most accurate for printing the tree exactly as it is, and since it's a one line addition I'd rather use it :)

[2017-04-28 17:22] elu00 commented on #160
Oh alright, that's probably simpler than lol.

[2017-04-28 19:06] eltonlaw commented on #76
Hey, so sorry for going AWOL, I was just finalizing some stuff with school. @evykassirer this is how the process goes right now:

1. Check for division between 2 nodes
2. Check if exponents are the same (I will change this to just 1)
3. Finds the constant value difference [Ex. (2x+3)/(2x+2) => 1] by taking args[1] and subtracting them form each other
4. Appends denominator to the fractionList and

[2017-04-28 19:22] aliang8 commented on #76
@eltonlaw I'm glad you like it! I was thinking we could implement something similar to the pseudocode in the link. Theoretically, it should cover most of the edge cases in polynomial division and still be succinct and efficient. Let me know what you think and we should also confirm with @evykassirer.

Secondly, regarding your suggested approach:
Great ideas! I just have a few little suggestions. I

[2017-04-29 01:50] evykassirer opened #162 "Bug: rounding error with negative numbers"
There is an issue because of this line of code:

https://github.com/socraticorg/mathsteps/blob/master/lib/simplifyExpression/arithmeticSearch/index.js#L52

Negative numbers go into the `if` statement right now, which keeps only 4 significant digits

e.g. `-1953125` becomes `-1953000`

That line should be changed to `if (-1 < result < 1)`, which means if the number is `0. ....` or  `-0. ....` it wi

[2017-04-29 01:50] evykassirer commented on #72
I'm going to close this and use a new issue to more accurately describe the issue for newcomers :)

[2017-04-29 01:50] #72 closed

[2017-04-30 11:16] salumsinare commented on #157
can mathsteps generate graphs based on an expression or there are any other alternative to achieve this

[2017-04-30 16:19] evykassirer commented on #157
That's outside the scope of mathsteps but you can search the web for graphing libraries - a bunch exist

[2017-05-04 14:06] aelnaiem opened #163 "Better sum-product factoring steps"
The function `factorSumProductRule` currently returns one step with no substeps, but it should have substeps. The substeps are outlined in the code, but just need to be formalized, given a change type etc.
[code]

This should make it easier to understand for students to understand the process for what can be a complicated set of steps.

[2017-05-04 15:11] eltonlaw commented on #76
@aliang8 Yeah right now it's super fragile, it only works on 2 term cases of the form (ax^1 +b)/(cx^1 +d). I figured we could focus on the easier scenarios and discuss the methods before going into the more complicated stuff. With the breakUpNumerator step, for now I think I'm going to keep it, everything still fits okay, it's not an unnecessary constraint or anything.

Oh yeah, I just made a PR,

[2017-05-04 18:03] evykassirer commented on #163
if you're new to `mathsteps` and want to know more about what this would involve,

- The file you'd be updating for this change would be [here](https://github.com/socraticorg/mathsteps/blob/master/lib/factor/factorQuadratic.js#L228)
- I think [multiplying fractions](https://github.com/socraticorg/mathsteps/blob/master/lib/simplifyExpression/fractionsSearch/addConstantFractions.js) is a pretty good

[2017-05-04 18:11] evykassirer commented on #76
sweet! I'll take a look

[2017-05-18 07:50] arve0 commented on #131
What about adding an error property to the array (array inherits from object)?

[code]

[2017-05-18 11:03] cristiano-belloni opened #165 "Incorrect docs + bug - `step.newNode` is an object, not a string"
Hi, ~I'm using `"mathsteps": "^0.1.6"`~ I tried the latest commit from `master`

In the README examples,

`console.log("after change: " + step.newNode);          // after change: 6 x`

Doesn't print `6 x`, because step.newNode is an object, like:

[code]

which doesn't even have a `.print()` method, like in the equation solver case.

How do we get `6 x` from the example?

[2017-05-18 11:15] cristiano-belloni commented on #165
If I require print from utils: `const print = require('mathsteps/lib/util/print')` and later do `print(step.newNode)` it works.
Do you envision adding `print` to nodes or expose it from the `mathsteps` object, in the future? As it is now, it's inconsistent and undocumented.

[2017-05-18 16:49] evykassirer commented on #165
`("after change: " + step.newNode);` should call `toString()` on the `newNode` and all mathjs nodes have a `toString()` property. I'm curious why that wasn't being called on yours, but I agree that it should clearly state `toString()` so people know how to print it on its own without concatenating to a string :p

Does that work for you?

Thanks for bringing it up!

And around equations - ideally a

[2017-05-18 16:55] evykassirer commented on #165
just fixed by cbb5c7f75 - I'll close this once I know you've got things working :)

[2017-05-18 22:04] cristiano-belloni commented on #165
It works.
I didn't know how I tested it this morning, but in some occasions I got `[object Object]` stringifying the node.
But now I cannot repro anymore, so probably the issue was my side. Will reopen if I see that again.

[2017-05-18 22:04] #165 closed

[2017-06-13 07:58] nitin42 opened #166 "Build error"
If we minify the mathsteps `lib` using **UglifyJs2** it gives build error because UglifyJs2 doesn't support ES6 (not totally sure). Considering the browser support for the ES6 build, we need to transpile ES6 to ES5 (using Babel or [Buble](buble.surge.sh)). Tracked at [mishoo/UglifyJS2#448](https://github.com/mishoo/UglifyJS2/issues/448)

[2017-06-14 01:02] evykassirer commented on #166
Oo good to know. I don't have much experience with node -> browser code, but I guess we need it for our demo. I'm feeling pretty sick today but ll take a look into this in the next couple days

Thanks for bringing it up :)

[2017-06-14 03:45] nitin42 commented on #166
Can I look into this further ? Like adding browser support, providing UMD build and configuring Babel.

[2017-06-14 16:21] evykassirer commented on #166
Yeah go for it! I just can't finalize anything rn cause I'm pretty busy but your research definitely helps :)

[2017-06-14 16:21] evykassirer commented on #166
And I should be able to get back to ya next week if not earlier :)

[2017-06-21 18:02] nitin42 commented on #166
I think we can add Babel to our project. Let me know what you think!

[2017-06-25 01:14] evykassirer commented on #166
I'm pretty sure we'll be adding babel as part of the rule porting, but I don't want to change anything on `master` for the next couple weeks while that process is happening. @aliang8 can you confirm? I remember you being interested in adding Babel for something or other (I don't know that much about it)

[2017-06-27 07:29] starside commented on #162
Hi, I would love to take on this issue.  I have been lurking the mailing list for a while, this seems like a good first step.

[2017-06-27 09:54] nitin42 commented on #162
Also see #160

[2017-06-27 16:43] evykassirer commented on #162
Hi @starside ! I'm so excited that you're wanting to get involved with mathsteps!

Unfortunately, for the next few weeks I'm planning to block changes to this project, because there are some people working on a huge change to the codebase that'll probably change almost every line of code here, haha - so I wanna wait until that's done before making any other changes (and I'll need to update open is

[2017-06-27 21:49] starside commented on #162
Thanks!  I guess I will have to wait, unless @aliang8 has something for me to do.  You are moving to a custom parser correct?

[2017-06-27 21:53] evykassirer commented on #162
Yes! It's going to be awesome. We're also changing the way you define simplifying rules to be more intuitive and easier to write. I'm hoping it'll make contributing to mathsteps much easier, and that it'll also make it easier to implement more complicated cool things soon!!

[2017-06-29 14:29] aliang8 commented on #162
Hey @starside!!! Sorry for not responding on this thread. I've been somewhat busy with graduation related events. But regardless, I'm super excited for you to join and if you are interested, I do have some tasks for you to do. Maybe we can move away from this thread and chat privately on gitter?

[2017-06-30 00:35] starside commented on #162
Gitter works for me

[2017-06-30 09:32] nitin42 commented on #166
@evykassirer Is there anything I can work on (I've two weeks before my college starts) ? Let me know!

[2017-06-30 15:35] aliang8 commented on #166
Hey @nitin42! Thanks for asking! We should set up Babel to support ES6 syntax. Would you mind taking that on?

[2017-06-30 16:07] evykassirer commented on #166
Setting up a polished demo would also be awesome

[2017-06-30 16:15] nitin42 commented on #166
Ok! I am designing the site right now and will share the link soon. @aliang8 👍

[2017-06-30 18:30] nitin42 commented on #166
Woaah!! Seems like we won't need to configure Babel for the project. We will provide production ready `umd` build which will be supported both on the web and node environment. I'll send a PR soon !

[2017-07-01 14:30] alainakafkes commented on #163
Assuming this is still open, I'd like to work on it! 🙋

[2017-07-01 17:01] evykassirer commented on #163
Ooo hi @alainakafkes thanks so much for wanting to work on this!

Right now we've put a hold on changes to mathsteps because we're doing a big refactor, but Anthony ( @aliang8 ) who's heading this up can help you find a task related to the refactor to work on, if you're interested! (he's working on mathsteps as his full time job right now!)

Sorry for the deceiving open issues heh, but very excite

[2017-07-01 17:14] nitin42 commented on #163
@alainakafkes would you like to work on the website ?

[2017-07-01 17:19] evykassirer commented on #163
(to give more details)

The website is a demo site that will let people try out `mathsteps` to see how it works without having to install it locally first. 😺 Nitin's still working on the base of how it'll look so it might be a week or so (?) before we have a base codebase for that and you can contribute.

[2017-07-01 17:21] alainakafkes commented on #163
@evykassirer Sure, I'd be interested in that. 😄  I'm pretty new to open source – I've worked on only beginner issues in the past – so I'd definitely be down to try something new! You can mention me in an issue when the codebase is ready.

[2017-07-01 17:29] evykassirer commented on #163
Perfect! I think there will be some less challenging things too (we'll know next week what exactly is going on, because we might cut some scope to get the refactor done sooner) and one thing we especially care about is that with all these changes we want to make sure the codebase makes sense to new people, so having you taking a look at things would be suuuper helpful! Will keep you posted ^_^

[2017-07-02 12:46] aliang8 commented on #163
Hey @alainakafkes, super excited for you to join! As @evykassirer  said, I am working on some refactoring tasks for the current `mathsteps` codebase. This involves moving over to our new custom `math-parser` that is designed to allow support for more math expressions. This shouldn't be too difficult of a task, but I would gladly ask for your help and hopefully onboard you with the new `semantic-ma

[2017-07-08 07:09] tkosan commented on #64
This is an alternative way to solve this problem:
[code]

[2017-07-08 07:50] tkosan commented on #64
This solution performs division in step 2:
[code]

[2017-07-09 05:14] evykassirer commented on #162
Hi @starside ! feel free to make this change now, Socratic has decided to postpone the refactor. It should be just a one line fix. Are you still interested?

 Let me know if you need help with anything!

[2017-07-09 05:15] evykassirer commented on #163
Hi @alainakafkes  ! Feel free to work on this change now - Socratic has decided to postpone the refactor.  Are you still interested?

Let me know if you need help with anything! Happy to answer any questions

[2017-07-09 22:54] alainakafkes commented on #163
Hi @evykassirer! I'd be happy to work on this – please assign me. 😸  I'll start reviewing the code and issue more carefully and let you know what questions I have. Does Socratic do most of its open source contributor communications on GitHub or is there a Slack I should join?

[2017-07-10 04:09] alainakafkes commented on #163
I just looked at the code. Based on my understanding, what I should do is the following:

* Put the code for the existing substeps into separate helper functions (e.g., ```evaluateDenominators()``` from addConstantFractions.js)
* Use something like the following code (also from from addConstantFractions.js) to invoke the relevant helper function and "push" the substeps so they are visible

[code]

[2017-07-10 04:56] evykassirer commented on #163
I can't assign non-collaborators :( which annoys me, but I labeled it assigned for you!

Yes! we talk here but we also talk on gitter https://gitter.im/mathsteps-chat/Lobby you should come chat with us there :D

[2017-07-10 05:14] evykassirer commented on #163
You don't necessarily have to break it out into helper functions, but it feels cleaner that'd be better I think! If you do, you should make sure you return a NodeStatus object with the old and new nodes (i.e. before and after that substep - `addConstantFractions` works like this too I believe)

I don't think there's code yet to create the nodes for

so you'll want to build those intermediate step

[2017-07-11 14:34] ldworkin commented on #137
Fixed by https://github.com/socraticorg/mathsteps/commit/344d15b5d5e25251cef7d6976d6a73df16661d7d

[2017-07-11 14:34] #137 closed

[2017-07-11 14:35] ldworkin commented on #139
Fixed by https://github.com/socraticorg/mathsteps/commit/344d15b5d5e25251cef7d6976d6a73df16661d7d

[2017-07-11 14:35] #139 closed

[2017-07-14 19:27] alainakafkes commented on #163
Hi @evykassirer! I started to write some code and wanted to check in to make sure what I'm doing is okay. Is this the right idea?

[code]

If what I'm doing makes sense, how can I update newNode?

I saw this code (below) in addConstantFractions.js. I assume it's updating newNode, but I don't understand how. 😢

[code]

Also, is there any way for me to run this locally so I can see what mathsteps lo

[2017-07-15 06:31] evykassirer commented on #163
yeah I think that makes sense! for getting p and q!

When Ahmed wrote this before, he put the comment `ax^2 + bx + c -> ax^2 + px + qx + c` to explain what he was doing but since there were no substeps, he didn't have to actually make the  `ax^2 + px + qx + c` node. That's the `newNode`. You'll want to make a new `Node.Creator.Operator` (an operator node) with `+` operator and 4 things added toget

[2017-07-15 06:32] evykassirer commented on #163
oh another thing - you'll probably want to make new `ChangeType`s to specifically describe some of these substeps since they're pretty unique changes

[2017-07-16 04:36] ldworkin opened #198 "Operator nodes can have <= 1 arguments"
See the discussion here: https://github.com/socraticorg/mathsteps/pull/190#discussion_r127018474

Essentially, if check for `args.length > 1` in the `isOperator` check, some tests involving nthRoots will fail. Why is that? All operator nodes should have at least 2 arguments.

[2017-07-16 04:38] evykassirer commented on #198
thanks for opening this :D

[2017-07-16 13:27] ldworkin opened #199 "Better support for mixed numbers"
Right now mathjax cannot parse a mixed number like 1 3/4; instead it expects the input to look like e.g. 1(3)/(4), which is parsed as division with implicit multiplication in the numerator. This is confusing and unintuitive. We can definitely fix when we have a custom parser, but can we do anything smarter in the meantime?

[2017-07-16 18:17] evykassirer commented on #199
one thought is to change it to (1 + 3/4) before you send to mathsteps - or do you think that makes it not a mixed fraction anymore and is confusing?

[2017-07-16 18:29] ldworkin commented on #199
Yea, I don't like this solution -- that messes up the pedagogy that Gen wanted for this.

[2017-07-16 19:39] evykassirer commented on #199
ah okay, I see!

[2017-07-19 18:52] #51 closed

[2017-07-19 19:21] physedo commented on #160
@evykassirer

 can print equations to asciimath, but there's no one function call for LaTeX.

It would live in https://github.com/socraticorg/mathsteps/blob/master/lib/equation/Equation.js below print and look like:

this.leftNode.toTex() + this.comparator + this.rightNode.toTex()

where below print?

[2017-07-19 19:29] evykassirer commented on #160
I think I was talking about line 16 https://github.com/socraticorg/mathsteps/blob/master/lib/equation/Equation.js#L16

[2017-07-19 20:41] alainakafkes commented on #163
Ok I think I successfully created 3 substeps! 🎉

I'm trying to test them with the node 2x^2 + x - 3:

[code]

And I get this error:

[code]

Can you help me figure out what this means? Thank you in advance. :heart:

My latest commit can be found here: https://github.com/alainakafkes/mathsteps/commit/24964629fca405c26f07fe8873ef44c2f4211a1a.

[2017-07-20 02:41] evykassirer commented on #163
oh! that's cause nodes don't have statuses :)

you just wanna do `Node.Status.nodeChanged` (I can see how that's confusing - `Node` just has a bunch of functions related to nodes, but it's not actually a node >.>(

yay progress 🎉

[2017-07-20 02:42] evykassirer commented on #163
also linking to your code was super helpful :o thanks!!

[2017-07-20 16:42] Ephs05msm opened #209 "Solve/simplify using scope (a la math.js' eval)"
Hello,

Thanks so much for your work on this project. Super interesting and the mission is such a worthy one. I found you all via the math.js site -- then read the blog post -- and am curious whether mathsteps can use an array of symbols (e.g., `{ x: 10, foo: 20, bar: "foo + x", baz: "bar^2" }`) passed in as a scope. In math.js this can be done in math.eval(expr, scope). But math.js returns just t

[2017-07-20 21:05] tkosan commented on #209
Substitution of symbols is a capability of computer algebra systems (CAS), and MathSteps is slowly accumulating CAS capabilities. MathSteps is able to perform symbol substitutions, but I don't think support has been included yet for the example you provided. However, I don't think it would be difficult to implement. I created the following solution to the problem you posted using the MathPiper CAS

[2017-07-21 12:55] Ephs05msm commented on #209
Thanks for the reply and MathPiper example. Yes, that approach works well.

My interest in this capability is in the context of how spreadsheets are sometimes used: one might build up a range of inputs and then reference those inputs in formulas elsewhere. Evaluating the formulas requires substituting cell addresses (e.g., A1, B2, etc.) with the values. I'd like to explore an expanded way of audit

[2017-07-21 15:39] alainakafkes commented on #163
Yay thank you @evykassirer ! This should (lol fingers crossed) work now. I'll submit a PR and see if what I did passes all the tests.

[2017-07-21 18:34] tkosan commented on #209
MathSteps is currently undergoing a bug fixing phase to get it ready for a release that will be used to help with Socratic's upcoming fundraising event. After that the plan is to heavily modify the codebase to switch it to a rules-based design. Experimenting with enhancing MathSteps to support step-by-step spreadsheet evaluation would probably best be done after the switch to a rule-based design h

[2017-07-22 04:53] evykassirer commented on #209
Hi Matt!

Thanks for reaching out. I'm glad you think the project and mission is interesting - I do too :D

I think that traversing the tree and subbing stuff in probably won't be too tricky - the main thing that'd be blocking for implementing this is around design and how the user would provide this and how we'd store it and all that. I think for now it'd make more sense if I helped you write som

[2017-07-22 04:54] evykassirer commented on #209
oh also @Ephs05msm neat use case! It's so neat to see how different folks are using mathsteps :D

[2017-07-22 16:59] Ephs05msm commented on #209
Ted, thanks again for the explanation, context, and offer to help. I've interpreted Evy's follow up as being the preferred approach, but your helpfulness is not lost on me!

Evy, hi and thanks so much for the thoughtful reply! I'd love to team up with you on this if you don't mind guiding me a bit. I've never contributed to a repository with more than just me in it, so I'm a bit apprehensive (simp

[2017-07-22 17:29] evykassirer commented on #209
omg Elm! I actually want to learn Elm because I'm giving a talk on mathsteps in September at StrangeLoop and decided to attend Elm-Conf the day before (gotta learn some Elm first though!) Maybe we can teach each other some stuff haha

I think this would be a pretty safe contribution to a bigger project because your code won't be used by anyone except you for a while! It's also a nice project in th

[2017-07-22 18:38] tkosan commented on #209
@Ephs05msm since the MathSteps project has moved back to a less rushed mode of development, I think taking Evy up on her offer to help you implement your feature in MathSteps is a good way to go. Also, concepts such as parsing code into abstract syntax trees is often not covered until towards the end of a CS degree. If you need some help learning these concepts, feel free to ask.

@evykassirer yes

[2017-07-24 16:19] Ephs05msm commented on #209
@evykassirer this is super helpful; thanks! I'll plan to get the library working locally today and then dig into TreeSearch.js in the context of your suggested approach. If I get stuck/confused and can't research my way out of it I'll come back for help. Will also get setup with gitter and look for you there if the question seems like a good fit for IM. Happy to chat by phone at some point as well

[2017-07-24 20:10] Ephs05msm commented on #209
Also, happy to chat about Elm anytime. I know just enough to be dangerous. For someone very much still trying to get my bearings in development, I appreciate the strong guarantees that Elm provides/enforces.

[2017-07-25 09:04] nitin42 commented on #134
@evykassirer I've made some changes to the PR (`mathsteps-demo`) and I was thinking of adding the docs and contributing guide to website. Let me know what you think!

[2017-07-25 11:40] starside commented on #162
Hey! I would like to do it if it is still available.  I did not notice your message until now.

[2017-07-25 16:19] evykassirer commented on #162
go for it!

[2017-07-25 17:19] physedo commented on #160
I can't make it work @evykassirer

[2017-07-25 17:24] evykassirer commented on #160
can you give me a bit more details with what's going wrong? What have you tried and what isn't working?

 I'll see what I can do to help

[2017-07-26 05:04] SirFurness commented on #160
Just writing to let someone know that I'd like to work on this.

[2017-07-26 07:08] SirFurness commented on #160
I wrote some tests for it, but I'm not sure if I did them correctly. I'll send in the PR.

[2017-07-26 08:03] starside commented on #162
Ok, I fixed it and wrote a test.  I thought using abs might be a nice solution.  I can use only conditionals if you prefer.  Let me know if I did something not in the spirit of the project, then I issue a pull request?

`function evaluateAndRound(node) {
  let result = evaluate(node);
  if ( Math.abs(result) < 1) {
    result  = parseFloat(result.toPrecision(4));
  }
  else {
    result  = parseFl

[2017-07-27 00:29] evykassirer commented on #134
ah sorry Nitin! Let me look at your current PR - I've been a bit busy but I'll look either tonight or in the next day or two.

Did you want to add the current docs or write some new ones? If we're doing something new, let's talk about it first to make sure we're on the same page :)

[2017-07-27 00:31] evykassirer commented on #160
great @SirFurness ! Thanks so much for your interest and for getting involved :D

@physedo was already working on this though and very recently (just yesterday). I'd like to give people already working on things priority.

I'll give them another 5 days to let us know if they still want to work on this, and if they don't respond then it's all yours! (and I'll look at your PR at that point). How's t

[2017-07-27 00:32] Ephs05msm commented on #209
@evykassirer @tkosan Just submitted a first pass for review. Look forward to discussing with you at your convenience. Thanks again for the help.

[2017-07-27 00:34] evykassirer commented on #160
Also if you'd like to jump on something else feel free to take a look around open issues or chat with me about a refactoring thing we're gonna start again on soon :)

[2017-07-27 00:39] evykassirer commented on #209
@tkosan

re: creating an issue to discuss - sounds good. I'll probably open it after I get back from Canada, and will also do a bit of playing around to see what kinds of things break if I just replace the bodies of the `Node.Creator` and `Node.Type` functions with calling math-parser's equivalents

re: changing the user: I really want to keep this for students. That was the goal all along and I t

[2017-07-27 00:48] evykassirer commented on #162
looks good! feel free to make a pull request even when you're not sure if it's right - it's easier to comment on those than here :)

I think the test would be nicer as `16 - 1953125` since it's more likely to be input than `---1953125`

looking forward to the PR and excited about this bug fix! thanks so much for taking it on :)

[2017-07-27 00:48] evykassirer commented on #162
OH and I really like the use of abs - good call :)

[2017-07-27 03:09] nitin42 commented on #134
If we're rewriting the core than it doesn't makes sense to render the old docs. I want to jump in where new changes are happening. Let me know where I can start! Also if there is some other stuff or some other issues to work on, let me know! I'll be happy to contribute more 😀!

[2017-07-27 03:11] evykassirer commented on #134
sounds good!

I'm gonna explore what we need to do for the refactoring stuff within the week (hopefully!) and we can get started from there - I'm still not totally sure what the work will involve and what the issues that need tackling will be, and it'd be nice to have more concrete tasks before we start working on it - and it'd be nice to get a few people taking on tasks if possible so I think you

[2017-07-27 04:08] #166 closed

[2017-07-27 04:13] nitin42 commented on #157
I think we can close this! (outside the scope of project)

[2017-07-27 04:15] nitin42 commented on #134
I was thinking about replacing the current test suite with Jest!

[2017-07-27 04:17] nitin42 commented on #124
PR submitted here - https://github.com/socraticorg/mathsteps-demo/pull/3

Can close this now!

[2017-07-27 07:19] SirFurness commented on #160
Sounds great! It's my fault for just going for it, but I enjoyed doing it anyway so it's all good.

[2017-07-27 08:38] physedo commented on #160
You can take this @Sirfurness

[2017-07-27 08:56] physedo commented on #160
Is it working now @SirFurness

[2017-07-27 09:20] SirFurness commented on #160
Yep, it's working

[2017-07-27 16:28] evykassirer commented on #160
yay ok! glad you enjoyed it :) will take a look at the PR soon - am at a conference this week so it might take a few days

[2017-07-27 16:30] evykassirer commented on #124
hooray! let's not close this until the PR is merged (and maybe after we add some more features to it)

[2017-07-27 16:31] #157 closed

[2017-07-28 04:25] SirFurness opened #213 "Use provided cloneDeep()"
There's a function implemented here that does a deep clone but mathjs provides one, 'node.cloneDeep()'. When I replaced the clone function definition with just cloneDeep all of the tests passed. There might have been a reason that cloneDeep() was not chosen to be used, but it seems to be all fixed now. Should we switch to cloneDeep()?

[2017-07-28 10:34] chirag9127 opened #214 "vvrthdreftkbljbjbldlkcdecrffufnguvrhgffdilbh"

[2017-07-28 10:43] nitin42 commented on #214
umm... What ?

[2017-07-28 11:13] starside commented on #214
You make a solid point.

[2017-07-28 11:14] nitin42 commented on #214
umm... what ?

[2017-07-28 11:15] nitin42 commented on #214
If you want to report a bug or some other issue, please clarify else close this!

[2017-07-28 13:05] evykassirer commented on #214
Hi @chirag9127 , here is the response to your question:

`pwiuh;agklndfbipvsfuyghlbjknjghvkjbknml`

if you have any other concerns, please open a new issue ^_^

[2017-07-28 13:05] #214 closed

[2017-07-28 14:11] chirag9127 commented on #214
I am extremely sorry about this. I must have mistakenly pressed the yubikey token.

[2017-07-28 14:27] evykassirer commented on #214
No worries!

[2017-07-28 16:58] evykassirer commented on #213
aha! https://github.com/josdejong/mathjs/issues/745#issuecomment-261547371

So there were issues, but they were fixed. We just delayed changing to use their new stuff. Feel free to make the change to use their cloneDeep now :)

[2017-07-28 18:19] evykassirer opened #215 "Not dividing fractions"
Gonna put this in an issue since I think it's interesting and it'd be nice to refer to this if more people ask

@Ephs05msm said:

[2017-07-28 18:19] evykassirer commented on #215
my answer:

ooo that seems familiar but I'd have to go code hunting to be sure

I think the reason it's there is that in general we don't want to divide fractions midway through simplification (unless they're integers) because then you get like 5/3 x - 2/3 x turning into decimal subtraction which isn't what people usually want to see. I could see us adding a last step at the very end to divide the

[2017-07-28 18:20] evykassirer commented on #215
feel free to ask any followup questions here :)

if this answer makes sense and you don't have followup questions, feel free to close this issue!

[2017-07-28 18:24] Ephs05msm commented on #215
Thanks for the explanation; makes sense! I can add a step on my end to get to a float when needed. I don't seem to be able to close this but please go ahead.

[2017-07-28 18:24] #215 closed

[2017-07-28 18:26] evykassirer commented on #215
maybe we can add an option to show answers as fractions vs decimals once we have some sort of "provide options when solving" thing set up

[2017-07-31 23:18] #162 closed

[2017-08-01 20:10] #160 closed

[2017-08-09 20:26] evykassirer commented on #163
done with #210 thanksss @alainakafkes :D

[2017-08-09 20:26] #163 closed

[2017-08-22 09:23] physedo opened #218 "mathsteps in a project, err when --minifyjs"
I am using mathsteps in a project. When I prepare the project for production. I get errors when I want t solve equations. Something is wrong getSymbolsInEquation see the issue below:
https://forum.ionicframework.com/t/error-ionic-cordova-run-android-device-prod/102569
Simplify expressions in the project works fine.

If I skip minifyjs everything works fine when I serve the application in the brows

[2017-08-29 23:05] evykassirer commented on #218
very strange - I have no idea what that's happening but I replied to the thread and hopefully someone can help us figure it out :) thanks for bringing it to my attention!

[2017-08-29 23:08] evykassirer commented on #134
Sorry for the delay - I'm happy to look into that once I'm done with the refactor (hopefully will finish in the next two weeks, I'm planning to sink a bunch of time into it!)

Thanks for suggesting it - I'll open an issue for now :)

[2017-08-29 23:10] evykassirer opened #219 "Investigate Jest"
@nitin42 suggested we look into Jest - after some refactor fixes, I'd be happy to look into it! Discussion about it's pros/cons is encouraged here in the meantime :D If it's an easy update it could even happen during the refactor process!

[2017-08-30 02:49] nitin42 commented on #134
Welcome back! 😜

[2017-08-30 19:38] physedo commented on #218
Simplify expression is working. It was working in july. I have posted My
code in The ionicforum. I have no idea what is wrong.

Den 30 aug. 2017 01:05 skrev "Evy Kassirer" <notifications@github.com>:

[2017-09-01 04:17] evykassirer opened #220 "Add to linter"
two things I think would be good to add to our linter

you can reference https://github.com/socraticorg/mathsteps/issues/44 for instructions and examples from previous additions to the linter, or feel free to comment below and I can help you look into it

- [ ] use single quotation marks always, not double
- [ ] always have exactly one new line at the end of a file

[2017-09-10 03:14] evykassirer opened #221 "cancel out subtraction better"
for collect and combine like terms, addition, you'd see steps like this right now

[code]
y + 2x - 2x
(maybe y + 0?)
y
[code]

[2017-09-20 15:31] evykassirer commented on #220
thanks @fdagostino !

[2017-09-20 15:31] #220 closed

[2017-10-01 02:14] rickpock opened #223 "Roundoff error when calculating perfect root of a constant"
Example:

`nthRoot(64, 3)` is simplified as `2 * 2` instead of the expected `4`.

[code]

This is due to a roundoff error in the `math.nthRoot` functions. If `math.nthRoot` doesn't evaluate to an integer due to roundoff error, it's assumed not to be a perfect root, and the radicand is factored first.

[code]

[code]

[2017-10-02 19:09] evykassirer commented on #223
Thanks for finding this issue and reporting it!

Damn - is this one of those floats being inaccurate problems? It'd be nice if mathJS's `math.nthRoot` gave the right value - that's the main issue here, yeah?

[2017-10-02 19:40] rickpock commented on #223
I suspect the underlying inaccuracy of floats is what causes this to happen.

I recommend checking it by rounding the return value from `nthRoot`, raising it to the exponent and seeing if that matches the radicand. I have this mostly done, but can't commit/push until this evening. Also, I've never pushed to OSS, so I might bungle my way through.

By the way, I encountered this while starting to im

[2017-10-02 20:28] evykassirer commented on #223
that sounds like a slightly hacky but pretty good fix! If you have any questions on how to contribute your fix, I am happy to help with that :) and no rush - this evening is totally fine

And ooo support for that would be awesome! Thanks for looking into that

[2017-10-03 00:41] rickpock commented on #223
Thanks. Do I need to be added to the project team somehow in order to push?

This is where I get confused on contributing. My normal workflow is to create a new branch, make the fix on that branch, push the branch to github, then make a pull request.

I'm unable to push the branch to github.

[code]

[2017-10-03 00:47] evykassirer commented on #223
ah! yeah I got used to that at work + with my own projects too ^_^

You need to fork the repo, copy your changes there, then push to your fork - then you can PR from that fork

[2017-10-03 20:40] physedo commented on #218
There is no Bug. It was the ionic. It works now. mathsteps rocks @evykassirer

[2017-10-03 21:06] evykassirer commented on #218
phew! thanks for checking back and so glad it works now! :)

[2017-10-03 21:06] #218 closed

[2017-10-08 19:27] #223 closed

[2017-10-12 13:38] psmyth commented on #221
Hi, I'm interested in working on this.

[2017-10-13 05:29] evykassirer commented on #221
yay! thanks for your interest 🎉

I think before we get started it'd be good to have an idea of exactly what we'll change. Did you want to explore that yourself, have a conversation about it, or would you prefer if I made a call and you did the coding changes?

[2017-10-13 21:04] psmyth commented on #221
I think you should make the call on how you want to handle it. I think the steps you laid out above are a good model.

[2017-10-15 18:19] evykassirer commented on #221
Cool - let's start with the case where 2x - 2x goes to 0 immediately instead of (2-2)x

Later if we can find a clean way of not having the 0 there at all (but only when it's part of a bigger sum) that'd be ✨

If you'd like assistance in finding the relevant area of the codebase to change and how to go about making the change let me know! Thanks for taking this on, it'll be much better :)

[2017-10-16 06:58] edi9999 opened #225 "Please publish a new version on npm"
The last npm publish was 7 months ago, AFAICT, the code has changed a lot since then.

Can you publish a new release please ?

[2017-10-24 21:56] Flashomatic opened #226 "Functions step.oldEquation.ascii() and step.newEquation.ascii() not working."
I can not figure out how to convert the equations into text, because these functions don't work despite being in the docs.

[2017-10-25 17:09] evykassirer commented on #226
oh no :(

How are you using mathsteps? Did you npm install it or fork the code?

[2017-10-25 23:27] Flashomatic commented on #226
I npm installed it.

[2017-10-27 04:34] evykassirer commented on #226
OH we updated the README when we changed `print` to `ascii` but haven't done an npm release since then. Use print instead, or use the new version (will be updating it tonight)

I'll update the README to mention both! thanks for pointing this out!

[2017-10-27 04:34] evykassirer commented on #226
lemme know if it works :)

[2017-10-27 04:48] evykassirer commented on #225
yes! done now - sorry for the delay :) let me know if you need anything else!

[2017-10-27 04:50] #225 closed

[2017-10-27 20:17] Flashomatic commented on #226
It works fine now. Thank you.

[2017-10-27 20:17] #226 closed

[2017-10-31 22:20] Flashomatic opened #227 "Quadratic Equations Not Working"
When I have mathsteps solve a quadratic equation , such as x^2-5x+6=0, it gets to x^2-5x=-6 and then says the equation is solved, even though it solved for x^2-5x instead of x.

[2017-10-31 23:12] Flashomatic commented on #227
Never Mind, I had an outdated version of mathsteps.

[2017-10-31 23:12] #227 closed

[2017-11-01 03:34] evykassirer commented on #227
Glad we updated a thing you needed! Awesome :)

[2017-11-15 21:28] sterlingw commented on #30
Came across this when googling to setup precommit/prepush githooks. I understand that you all solved this, but hopefully this is helpful for future reference 😄

Not sure if you all have seen this: https://github.com/typicode/husky - but all that it took was installing `husky` and adding `"prepush": "yarn lint && yarn test"` to the package.json scripts to setup a prepush githook. No modifying of .g

[2017-12-19 12:43] BrandiATMuhkuh opened #228 "solveEquation with negative power causes infinite loop"
It turns out that the following equation `x^-2 + x^-1 = x`  causes a `Math error: Potential infinite loop for equation:` error. However, when I change the equation to `1/x^2 + 1/x^1 = x` I don't get the error (FYI: `1/x^2 + 1/x^1 ==  x^-2 + x^-1`).

here are some more trials where I ran into the same problem

-  `x^-2 + x^-1= x`
-  `x^-2 + x^-1 + x^0 = x^1 + x^2`
-  `x^-2 + x^-1 + x^0 = x^2 + x^1`

[2017-12-20 06:03] evykassirer commented on #228
Hi! Thanks for reporting this :) Definitely not the behaviour we'd like haha - I know there are a few known ways things infinitely loop that are tricky to fix, but am not sure if this is one of those known issues.

I'm currently working on a conference that's happening in a few weeks and don't have bandwidth to look into this, but I encourage you to dig into the code and find more info about the i

[2018-01-14 02:50] evykassirer opened #229 "consider updating githook system"
see https://github.com/socraticorg/mathsteps/issues/30#issuecomment-344734222

[2018-01-16 12:29] marpol2 opened #230 "Does not simplify polynomials divided by polynomials"
This is the current behaviour:

expression input: (x * 60)/(20 * y)
simplified answer: 60 x / (20 y)

expression input: 60 * x/(20 * y)
simplified answer: 60 * x/(20 * y)

[2018-01-17 15:14] #230 closed

[2018-01-19 12:46] marpol2 opened #232 "Cancel like terms is dependent of the order of factors in the numerator and denominator"
step 1: (45 * 3)/(45 * 3)
step 2: 45 / 45
step 3: (1 * 45) / (1 * 45)
step 4: 1

while instead
step 1: (45 * 3)/(3 * 45)
step 2: (15 * 3) / 45
step 3: (1 * 3) / 3
step 4: 3 / 3
step 5: (1 * 3) / (1 * 3)
step 6: 1

This can probably be fixed by just adding a check before proceeding to "cancelTerms" in "cancelLikeTerms".

[2018-01-20 18:42] evykassirer commented on #232
oh- good catch! thank so much :)

I'm not prioritizing my time on writing code for mathsteps right now, but would be happy to review a change if you (or anyone else) puts one up!

[2018-01-22 23:51] RaptorMai opened #233 "Can mathsteps handle derivative and integral?"
I found that Socratic app can solve integral and derivative. I am wondering does mathsteps support this feature?

[2018-01-23 00:04] evykassirer commented on #233
Those are part of the private version of mathsteps, which is now separate from the open source version. I believe they would be pretty easy to add here though! :) Or at least the main derivative and integral rules

Let me know if you're interested in doing that or would like help in implementing it!

[2018-01-23 15:45] wolfv commented on #233
Is there some code in the git history?

[2018-01-23 15:52] evykassirer commented on #233
the code for derivatives and integrals was written after they made a private forks, so we don't have access to that code

[2018-01-23 15:58] starside commented on #233
I have been wanting to tackle some code writing in mathsteps for a while.
If no one else wants to, I would like to try my hand at this feature.

On Tue, Jan 23, 2018 at 7:52 AM, Evy Kassirer <notifications@github.com>
wrote:

[2018-01-23 16:08] wolfv commented on #233
btw. this is OT but can you give me an example on how to run mathsteps from a cloned repo (e.g. do local development)?

[2018-01-25 01:05] bawarkamalqader opened #234 "x * (x - 1) = 1 ===>> throws 'Math error: No term with symbol: x , returning no steps'"
actually i found two issues after testing the above equation.

1) It wrongly throws that error, it fails to detect the two "x" symbols on the left side of the equation. after a little bit of debugging , i found this happens in the "Symbols.js" file , in the function assigned to "Symbols.getLastSymbolTerm".
That function first tries to find a symbol if it is a polyomial node, if not , it checks if

[2018-01-25 14:38] moliata commented on #233
@evykassirer I have been working on a project that uses mathsteps. What I found that is that Socratic, the app by itself, can solve system of equations.

[2018-01-26 02:56] evykassirer commented on #233
Hi @moliata - yup that's also part of the private version of mathsteps. I'm happy to help you work through implementing it with mathsteps or as a part of it, though I'm not doing any coding myself for mathsteps for the next few months. If you'd like to talk more, please open a new issue as it's not related to derivatives/integrals - thanks!

[2018-04-03 01:34] Flashomatic commented on #234
I'm having a similar issue but with the equation x^2+4x+6=0, and other non-factorable quadratic equations.

[2018-05-13 03:30] abeledovictor commented on #213
As a way to start contributing, I want to make the switch to `cloneDeep()`. Do you think I should change the `utils/clone` function, or should I replace all places where `clone(node)` is used, and change it to: `node.cloneDeep()`? @evykassirer

[2018-05-14 05:01] evykassirer commented on #213
go for it! you might need to update mathjs (not sure)

I think replacing the places where `clone(node)` is used would be better, but changing the clone function as a first change is also fine if you want to do something smaller :)

[2018-05-30 02:17] ducanh841988 opened #238 "How to run mathsteps on smartphone?"
Is is possible to run mathsteps on ios or android? We can make many useful apps to learn math.

Thank you

[2018-05-30 05:43] evykassirer commented on #238
you can use the algorithm for any app including ios or android apps or mobile websites!
also check out Socratic - an app that uses mathsteps :)

[2018-05-30 05:43] #238 closed

[2018-06-06 11:55] samueltlg opened #239 "Severe security vulnerability"
Hi there,

I intend to use this package in production eventually, but it contains a severe security vulnerability (https://nodesecurity.io/advisories/551#) because it uses a version of math-js less than 3.17.0 which allows arbitrary code execution. Any chance of this being amended easily?

Thanks,
Sam

[2018-06-11 22:11] samueltlg commented on #239
Hi there Evy,

Thank you for responding and for the update! That is quite alright (that you’re not looking to update math-js in the near future) - and I may get round to, in a few weeks, to implementing a later version of math-js in the math-steps repo. Although, admittedly, I’m not the biggest fan of math-js! The library seems overly large in size (over 500kb), and is perhaps quite outdated.. I d

[2018-06-12 06:22] evykassirer commented on #239
yes! I'd love to update to math-parser but the transition is also a huge process haha, which I've paused on for now (it's really close to being done but Kevin - who is working on the parser - and I got busy and prioritized open source stuff less than we used to)

oh very neat!! awesome to hear about ways mathsteps can be used, and about ways you're making worksheets more useful to students ^_^

[2018-08-23 13:51] Stumblefeet opened #240 "Missing parentheses when multiplying with a negative number"
A well-formed formula does not allow for a multiplication sign to be followed by a minus sign.

I recently tried 2-5*(3-6) and got
2-5*-3

[2018-08-27 22:09] evykassirer commented on #240
Thank you for noticing this an opening an issue!

I'm not actively working on mathsteps right now, but am happy to help you make a PR to update this :)

Seems like there would need to be an update to the removeUnecessaryParens function, but that could be messy and break some other functionality. Would be interesting to explore!